[2016-01-04 15:54] gearsdigital opened #1 "Got several EPEERINVALID warnings."
I migrated today to adonis-framework 2 and got some EPEERINVALID warnings.

[code]

[2016-01-04 15:55] thetutlage commented on #1
Yes you will have to install the latest version of `adonis-fold`, or there is a better way to do it. Create a new 2.0 application and replace your `app` folder with it

[2016-01-04 15:57] gearsdigital commented on #1
Yeah, i created a new app and copied my files over. If i change my package.json to `"adonis-fold": "^2.*` I got another warning:

`adonis-validation-provider@2.0.0 requires a peer of adonis-fold@^1.0.0 but none was installed.`

#### strip from package.json

[code]

[2016-01-04 16:01] gearsdigital commented on #1
Thats maybe the reason i got warnings while using (submitting a form) my app?

[code]

[2016-01-04 16:04] thetutlage commented on #1
My bad, i forgot to update the validation provider dependencies. Released an update `2.0.1` for validation provider

[2016-01-04 16:26] gearsdigital commented on #1
No problem! Thank you. EPEERINVALID warnings are gone now but got still these promise errors. Maybe this is related to `adonis-validation-provider`?

[2016-01-04 16:38] thetutlage commented on #1
I would need more info, from where you are getting this, how the code is ?

[2016-01-04 17:48] gearsdigital commented on #1
Sure! The warning happens every time I submit the form (post).

#### Terminal

[code]

#### Related code

[code]

[2016-01-04 17:56] thetutlage commented on #1
It says you are rejecting a promise without an error. May be an issue with `this.userAuthService.authenticate` are you rejecting with an error from this service ?

[2016-01-04 18:03] gearsdigital commented on #1
Nope, I think that is not the problem. Please note the `return` statement near `if (validation.fails())`... The error occurs even if I remove the code near `this.userAuthService.authenticate`.

[2016-01-04 18:12] thetutlage commented on #1
Okay, i believe i will have to check it properly, coz tests are passing. Something weird seems to be going on

[2016-01-04 18:13] gearsdigital commented on #1
Do you need a demo repo? Maybe I could setup one for you?

[2016-01-04 18:20] thetutlage commented on #1
No i am able to figure it out, it is with the `indicative` itself. Also it is a warning not an error. Let me fix it.

[2016-01-04 18:22] gearsdigital commented on #1
Okay, sounds cool. Do you need a new issue on `adonis-validation-provider`?

Let me know if you need further informations to reproduce that issue.

[2016-01-04 18:23] thetutlage commented on #1
No, i have it. https://github.com/petkaantonov/bluebird/issues/832 . They somehow came with an updated that one needs to throw an error always from a promise. Looking for a stable workaround

Also it happens in `development` mode. http://bluebirdjs.com/docs/api/environment-variables.html

[2016-01-04 18:56] gearsdigital commented on #1
Okay. Thank you for your effort.

[2016-01-11 17:29] thetutlage commented on #1
Fixed as of latest version. `npm install --save adonis-validation-provider@2.0.2`

[2016-01-11 17:29] #1 closed, assigned to thetutlage

[2016-07-22 07:11] thetutlage opened #2 "Unique validation rule should support an ignore row clause using a field/value pair"
Unique validation rule must support a field/value pair to ignore a row when doing the validation. It will be helpful when trying to update the field.
## Current Signature

[code]

Now when trying to update the user with the payload that has the same email address, will cause a unique validation failure, since this email has already been taken.

What we need is a way to ignore the current user by a

[2016-07-22 08:18] bitkidd commented on #2
Looks legit, but makes rules a bit complex, why not ignore row on update by default and add an option to validate & validateAll like this:

[code]

[2016-07-22 09:36] thetutlage commented on #2
@keeross Ignoring part of rules shouldn't be the validators job, in ideal world `validator` has no idea what is a`create` or an `update`.

If you pass `{id: 1}`, how are you expecting to consume it back in your rules?

[2016-07-22 11:43] bitkidd commented on #2
Basically, keeping validator modular is better, that's true. Maybe it is better to use a pipe symbol in place of comma, kinda `unique:users,email | ignore:id,1`, so it will be a bit more verbose

[2016-07-22 15:35] thetutlage commented on #2
@keeross `|` is used to define multiple rules. For example `required|email` and making 2 rules work to validate a single piece of data together is not practical. :smile:

[2016-09-08 15:31] thetutlage commented on #2
This is been released a while ago. Closing the issue 😄

[2016-09-08 15:31] #2 closed, assigned to thetutlage

[2016-11-30 11:52] ctf0 opened #6 "if the validation message is empty, the view should ignore it"
currently if the validation message is empty, the view should not render it

[code]

[code]

and we get
[code]

[2016-11-30 12:17] ctf0 opened #7 "how to display validation msg for specific input"
atm according to docs http://adonisjs.com/docs/3.1/adonis-blog-part5#_validating_form_inputs the only way to retrieve the error msgs is by displaying the full array

instead how to do something like `errors.email` etc... ? so
[code]

[2016-11-30 13:36] #6 closed, assigned to nobody

[2016-11-30 14:26] ctf0 opened #8 "add support for validation files"
the benefits are
1- better validation messages
2- easily editable and extended
3- support multi-lang apps validation

i made a simple implementation
[code]
* validation.json
[code]

[2016-12-01 09:32] thetutlage commented on #8
It is more of a application level decision on how to store and fetch validation messages. **Validation provider** job is to allow validations and custom messages

[2016-12-01 09:32] #8 closed, assigned to thetutlage

[2016-12-01 09:35] thetutlage commented on #7
What you need is a `findBy` view global to fetch an object based upon a key from an array.

[code]

and use it like

[code]

A general idea, You can improve it as you want

[2016-12-01 19:13] ctf0 commented on #7
doesnt work
[code]
![screen shot 2016-12-02 at 8 20 08 am](https://cloud.githubusercontent.com/assets/7388088/20824831/570cb844-b868-11e6-9856-6659d21f8bdf.jpg)

[2016-12-01 19:15] ctf0 commented on #8
am sorry for misinterpreting the idea, i meant to add this feature into the core instead of the default `{{validation}} validation failed on {{field}}.`
[code]

[2016-12-02 05:16] ctf0 opened #9 "required doesnt work"
* view
[code]

* controller
[code]

* result
[code]

[2016-12-02 05:48] #9 closed, assigned to nobody

[2016-12-02 06:21] #7 closed, assigned to thetutlage

[2016-12-02 06:22] ctf0 commented on #7
updated with error trace

[2016-12-02 06:30] ctf0 commented on #7
**fixed**
[code]

[code]

[2017-02-11 13:06] gpa opened #11 "Validation error on database error"
The following code with the mysql driver produces an unexpected behavior when the database is down.
[code]
[code]
I'm not sure if this is by design, but it feels wrong to me.

[2017-02-21 05:25] manoj-manoharan-backup-old opened #12 "Validation Not Working"
I tried sending nothing in request but validation is not failing

[code]

[2017-02-21 05:28] thetutlage commented on #12
Mind sharing the rules?

[2017-02-21 05:29] manoj-manoharan-backup-old commented on #12
`static get rules() {
    return {
      title: 'required',
      content: 'required'
    }
  }`

[2017-02-21 05:31] thetutlage commented on #12
And what is the output of `request.all()`

[2017-02-21 05:32] manoj-manoharan-backup-old commented on #12
It's empty

`{}`

[2017-02-21 05:34] thetutlage commented on #12
It needs to have the keys for `title` and `content` to be validated. Rules are applied on data and empty object has no data

[2017-02-21 05:36] manoj-manoharan-backup-old commented on #12
Tried that too now

`{ title: '', content: '', tags: '' }`

but still not working

[2017-02-21 05:37] thetutlage commented on #12
What is the 3rd argument with a string `"All fields Required"`. Messages needs to be an object http://indicative.adonisjs.com/#indicative-basics-custom-messages

[2017-02-21 05:41] manoj-manoharan-backup-old commented on #12
Tried that too now, Updated code

` const messages = {
      required: 'This field is required to complete the registration process.'
    }; `
` const validation = yield Validator.validate(
      request.only('title','content'),
      TextContent.rules,
      messages
    );
`

[2017-02-21 05:45] thetutlage commented on #12
Not sure, works for me. Here is a sample repo with code https://github.com/thetutlage/validation-issue-12

[2017-02-21 05:48] manoj-manoharan-backup-old commented on #12
That's odd :( Validation caused problem in my old project too, so i thought it was some bug in version but now i'm using latest version. Not sure why is this happening.

Maybe i didn't properly configure it?
1. installed adonis-validator-provider
2. added in Aliases and Providers list

that's it right?

[2017-02-21 05:50] thetutlage commented on #12
Yes, otherwise it will throw an exception. You can double check your code against the created sample repo.

[2017-02-21 06:03] manoj-manoharan-backup-old commented on #12
Its working on the Sample repo, seems to be problem with my configuration. Thank you for your time :1st_place_medal: :+1:

[2017-02-21 06:03] #12 closed, assigned to nobody

[2017-02-22 22:00] AadilC opened #15 "Unique Validation Rule Silent Failure"
I've been having some difficulty getting the ```  unique:[table],[column],[id],[$id] ``` validation rule to work.

Service Providers are listed and DB table migrations have been run.

Its executed in a ``` UserContoller.store ``` against an empty postgres table where **phone_number is set as  a unique index**. Validation fails but returns no messages for the unique rule, removing the rule allows t

[2017-02-22 22:45] AadilC commented on #15
This

[2017-02-22 22:49] AadilC commented on #15
After narrowing it down further the app was reporting ``` unique ``` as an unregistered validator.

It seems the issue was brought about by trying to register a custom Validator through a ``` ServiceProvider.boot ``` method rather than ``` Http.onStart ``` event, although I'm uncertain why.

[2017-02-22 22:49] #15 closed, assigned to nobody

[2017-02-23 20:25] mertindervish opened #16 "Integration with Adonis Antl"
I'm looking for a way to internationalize my validations. I've kinda solved the problem by generating messages using rules like in the code below:

[code]

It works but I'm wondering if there is a more elegant solution.

[2017-02-24 03:51] thetutlage commented on #16
Validator does not offer any direct way of pulling messages from locales. This is in my pipeline and I will working on it in the next release.

Keeping the issue open so that it stays in my mind

[2017-02-24 11:15] thetutlage commented on #16
Received another question on same and realized the following should work.

[code]

[2017-02-24 14:46] mertindervish commented on #16
I mean something similar to Laravel's way. In Laravel all you have to do is to create a `validation.php` file and fill your translations. Then they are used in every validation (unless you give mesaages arguments ofc). Same is for attributes' translations. Check out Laravel's docs https://laravel.com/docs/5.4/validation#custom-error-messages

[2017-02-25 10:26] thetutlage commented on #16
I shared that as a work around not as a solution, wait until I work on better integration

[2017-02-26 16:19] mertindervish commented on #16
What is the difference between this

[code]

and that?

[code]

I don't see any benefit of a callback for a validation message. Am I missing something?

[2017-04-28 12:36] webdevian opened #18 "Sanitise causing problems when run on partial data"
Let's say I have a schema with 3 fields:
[code]

If I want to only sanitise 2 fields (because they're the only one the user has posted), I pass them like this:

[code]
it returns:
[code]
When combined with Lucid's fill method it overwrites attributes as undefined which causes me problems when calling toJSON on it later (for passing to a view etc). Luckily it doesn't overwrite it as undefined on sa

[2017-05-07 22:20] lmj0011 commented on #2
and yet, it's not updated in the docs
http://indicative.adonisjs.com/#indicative-schema-rules

[2017-05-07 22:21] lmj0011 commented on #2
needs documentation

[2017-05-12 12:32] webdevian commented on #18
In the end I went with this solution to remove undefined and NaN values from an object before using it to fill a model instance

[code]

[2017-05-17 10:08] enniel opened #19 "unique is not defined as a validation"
Unique validator not registered.

[code]

May be to use `bind` instead `singleton`? This should solve the problem.

[2017-05-17 10:12] thetutlage commented on #19
What are you trying to do? All I can see is some code from the provider file?

[2017-05-17 10:15] enniel commented on #19
@thetutlage I'm added `console.log(e)` to find the error

[2017-05-17 10:18] enniel commented on #19
This problem is described in issue #15.

[2017-05-17 10:27] thetutlage commented on #19
The error is thrown when `Database` provider is missing. Can u tell me the actual issue u have?

[2017-05-17 10:34] enniel commented on #19
Error:
[code]

Rules:

[code]

[code]
`DatabaseProvider` is registered

[2017-06-22 02:54] duyluonglc opened #21 "Rules format & Errors methods"
@thetutlage
I find the validator package with rules format and the methods are similar to Laravel validator
https://github.com/skaterdav85/validatorjs
How about if this provider has rules as object and the methods like this:
[code]
Sorry if you don't like this

[2017-10-01 08:47] thetutlage commented on #21
So this becomes helpful when are inside some view layer, where you want to show certain messages next to the actual field.

In that case, the template engine can have methods, which pulls the right error messages.

I don't think the validator itself needs these methods

[2017-10-01 08:47] #21 closed, assigned to nobody

[2017-10-01 08:48] thetutlage commented on #18
Sorry for the late response, not sure how this issue got skipped.

Yeah sanitize method should handle this. I will fix it

[2017-10-01 08:49] thetutlage commented on #19
Should be good with 4.0

[2017-10-01 08:49] #19 closed, assigned to nobody

[2017-10-01 08:50] thetutlage commented on #11
Yeah but since the validation rule exceptions are not thrown directly, it get's wrapped up. I don't think there is any way to get rid of it

[2017-10-15 06:18] seanc opened #24 "SQL Error using unique rule"
It appears that the `unique` rule is not selecting any tables and causing an SQL error. I've tried providing it as an extra argument like `unique:users` with no results.

Here is the error:
[code]

I'm using adonis v4 as well.

[2017-10-18 07:42] thetutlage commented on #24
You also have to define the `table` and field to be used for making the SQL query, so it should be.

[code]

[2017-10-21 15:45] thetutlage commented on #11
Closing since not actionable

[2017-10-21 15:45] #11 closed, assigned to thetutlage

[2017-10-23 03:00] seanc commented on #24
Huh, I tried that as well and it didn't work. Tried it again though and it appears to work. I probably missed something haha.

[2017-10-23 03:00] #24 closed, assigned to nobody

[2017-10-29 11:16] thetutlage commented on #18
This issue was moved to poppinss/indicative#150

[2017-10-29 11:16] #18 closed, assigned to thetutlage

[2017-11-03 16:17] simontong opened #25 "Running validations after authorization"
It seems a bit pointless to run validation checks if the authorization denies access to the endpoint.

in this file:
`validator/src/Middleware/Validator.js :: handler()`

[2017-11-03 17:34] thetutlage commented on #25
Can u point to the actual line?

[2017-11-03 18:05] simontong commented on #25
From line 203 - 231. Below you can see its executing `_runValidations` first and then, if successful, it executes `_authorize`. So even if my form data is valid but I'm not authorized its going to send a bad response.

[code]

[2017-11-05 13:32] thetutlage commented on #25
There's also a `if` block there, which says right away of unable to `validate`

[2017-11-05 14:31] simontong commented on #25
If current user posts data that passes validation but is unauthorized to access the endpoint the code will still run all the validation checks first then reject him.

[2017-11-05 14:37] thetutlage commented on #25
This is how it is structured that validations runs and authorisation is next

If the data submitted by the user is invalid then there is no point finding who they are

Maybe you want different behaviour in that case simply don’t use the authorization method and create your own middleware, that runs before the validator

[2017-11-07 18:44] thetutlage commented on #25
Closing since not actionable

[2017-11-07 18:44] #25 closed, assigned to nobody

[2017-11-08 10:13] watzon opened #26 "Allow validators on resourceful routes"
## Structuring The Issue
Route validators are a really cool addition to Adonis, but it doesn't look like they currently work with resourceful routes. It would be cool if we could apply a validator to a `Route.resource` instance and have the Validator and Sanitizer automatically applied to select routes.

### Sample Code

[code]

### Error Stack

[code]

Using Adonis 4.0.0

[2017-11-08 10:41] RomainLanz commented on #26
Hey @watzon! 👋

May you try with the correct syntax?

[code]

[2017-11-08 10:43] watzon commented on #26
Well cool, this should be added to the Validations documentation. I thought there might be a way to do it, but it wasn't extremely apparent

[2017-11-08 10:43] RomainLanz commented on #26
Yes, let me push a PR to fix that.

[2017-11-08 21:47] watzon commented on #26
@RomainLanz  ok I tried that and I'm still getting the error `TypeError: Cannot read property 'middleware' of undefined`

My code:
[code]

[2017-11-10 06:41] #26 closed, assigned to RomainLanz

[2017-11-11 16:51] yariksav opened #27 "Proposition to extend framework "request" instance with validate method"
It would be great to extend framework "request" instance in validation provider for same possibility as has laravel 5.5 framework
[code]

[code]

it would make validation more simply than:

[code]

[2017-11-11 16:59] yariksav commented on #27
something like:
[code]

[2017-11-11 17:29] yariksav commented on #27
i added this to kernel.js and this works! But maybe this would be better to add directly to ValitationProvider

[code]

use:
[code]

[2017-11-12 08:26] simontong opened #28 "Can't match multiple depth arrays with wildcard"
I have the following rule:
[code]
But when I post the following data:
[code]
It isn't matching the rule.

I tried running the regexp  `arrayExpressionRegex` parser rule in `src/Parser/index.js` and it appears to only match everything after `props.`.

[2017-11-13 05:50] thetutlage commented on #28
Yes, since Indicative doesn't allow multiple nested arrays. It only support one level deep. Mentioned in docs too http://indicative.adonisjs.com/#indicative-basics-array-expressions

## But can we?
Yes we can, but I have to spend some more time the Indicative validation engine, and frankly saying I don't know when I will work on it

## Quick fix.
When using Adonis route validator, I define a custo

[2017-11-13 05:52] thetutlage commented on #27
I suggest using Route validators for that.

[2017-11-13 06:26] simontong commented on #28
Would swapping indicative for https://www.npmjs.com/package/validatorjs be an option as they work quite similarly

[2017-11-13 08:20] thetutlage commented on #28
You can try to use that package manually if you want.

[2017-11-13 15:02] yariksav commented on #27
Did you mean route middleware 'validation'? Yes, I used this, but for each action need to create own class file... This method seems to be much easier... especially for Rest API
I made RequestValidationProvider for this, but it will be great to have this logic by core... like has Laravel 5.5, it is very useful

[2017-11-13 17:03] thetutlage commented on #27
So design goals of Laravel and Adonis will not be same always, I believe adding too many ways to do one thing leads to confused decisions.

Also we as human beings have our own style of doing things ( no one superior over others ).

So I suggest using the macro as you did in your project. Also you can share it with others by wrapping it inside a package and people who prefer your way will surely u

[2017-11-13 20:46] yariksav commented on #27
https://github.com/yariksav/adonis-request-validation

[2017-11-13 20:46] #27 closed, assigned to nobody

[2017-11-19 19:33] mtamadon opened #30 "Putting custom messages in locales files"
I think in mvc model (when we have edge views) validation messages is more related to views (front end ) than backend (controller) + some times we need separate validation message for each language .

So I think ability to set custom messages in locales files will be good  (Laravel has this feature too. we can set messages on lang(locales) files & also controller)
Thank you.

[2017-11-20 02:42] thetutlage commented on #30
I am not chasing Laravel features or building a Laravel clone.

Happy to hear more thoughts when they have technical advantages over ( Laravel does this )

[2017-11-20 02:42] #30 closed, assigned to nobody

[2017-11-21 22:04] mtamadon commented on #30
@thetutlage : But laravel was only an example ..., I wrote two technical reason for that.
If it is not possible to add this to adonisjs (maybe because of time or other reasons ) Could you please tell me the way that I can do this?(I we really need this in our team)
Thanks.

[2017-12-06 15:12] thetutlage commented on #28
@simontong I have added support for this too, will be released soon

[2017-12-06 18:37] simontong commented on #28
thanks, i'll keep an eye out

[2017-12-18 01:07] fernandolguevara opened #31 "validator for resource not working"
my route configuration

[code]

the validation no work, any suggestions?

[2017-12-18 05:17] thetutlage commented on #31
Do u get any exceptions?

[2017-12-18 18:08] fernandolguevara commented on #31
@thetutlage no, there is no exception, only a redirection to / route

[2017-12-19 23:18] dimensi opened #32 "After sanitizor, object not changed"
Set on route validation.
[code]
Set sanitizor rules.
[code]
After sanitization and success validation i get not mutated object. Why?

[2017-12-19 23:29] RomainLanz commented on #32
Hey @edDimensi! 👋

Where did you get the `format_tel` rules for sanitization?

[2017-12-19 23:30] dimensi commented on #32
Hi! Here
[code]

[2017-12-19 23:33] RomainLanz commented on #32
You have registered the rule `formatTel` but you are using the rule `format_tel`.
May you change it and try again?

[2017-12-19 23:34] dimensi commented on #32
formatTel work nice.
And in docs
[code]

[2017-12-19 23:36] RomainLanz commented on #32
Yes, but you aren't extending the validator here. You are extending the Sanitizer Service. 😄

[2017-12-19 23:41] dimensi commented on #32
I change on camelCase, nothing change.
[code]
[code]
Object in response:
[code]
my function return `+79999999999`

[2017-12-20 15:36] dimensi commented on #32
Hello?

[2017-12-21 09:15] RomainLanz commented on #32
I don't get why you have changed your code?

[2017-12-21 09:17] dimensi commented on #32
What? What me do? sanitizor rules not updated object, but if i use sanitizor direct it will be return new object.

[2017-12-21 11:37] dimensi commented on #32
@RomainLanz I found where to find the bug! I used `request.post ()` to get the data I needed from the form. Then, as the validator mutates the response `response._all` object, and the response.post () method returns the `response.body`

https://github.com/adonisjs/adonis-validation-provider/blob/e701d81da2f6a66a1fedfb48bc24664070975f81/src/Middleware/Validator.js#L55-L62

Here create new object.
h

[2017-12-21 14:45] thetutlage commented on #32
@edDimensi Couple of things

1. Is `formatTel` method is being called at all?
2. Is `request.post()` only returns the wrong data or is it same with `request.all()`

[2017-12-21 14:54] dimensi commented on #32
@thetutlage
1. yes, it's work.
2. yes, only `.post()` wrong data. Because validator mutated ._all object, not body.
In Request class you merge `this._body` with `this.get()` and on `request.all() => this._all`, validator mutated this object, but not mutated this.body.

[2017-12-21 14:56] thetutlage commented on #32
Sure I’ll look into it, for now I can suggest to use the `all` method

[2017-12-21 14:57] dimensi commented on #32
Yeah, i used it for avoid bug. But i lost on this 4 hours, because i think it's my mistake.

[2018-01-06 10:07] thetutlage commented on #28
Release as part of v4. Not in Adonis right now, since it will have small breaking changes. So scheduled for `4.1`

[2018-01-06 11:24] thetutlage commented on #31
With your code in place, I can see that validator has been applied. Can u double check by running `adonis route:list` command?

<img width="1007" alt="screen shot 2018-01-06 at 4 53 47 pm" src="https://user-images.githubusercontent.com/1706381/34639237-41503456-f302-11e7-859c-a52cdf4df7b2.png">

Notice `av:StoreProductCategory`

[2018-01-11 06:48] #32 closed, assigned to thetutlage, RomainLanz

[2018-01-15 14:06] moar55 opened #34 "Validator number rule is not defined"
Hi there. I am trying to create rules for a request using validator, however when i add the ‘number’ rule which is available on  [indicative documentation](http://indicative.adonisjs.com/docs/number); I get this error:

[code]
here is my code:

[code]
Using integer works however I want to allow for decimals in the cost property.
Thanks in advance

[2018-01-21 16:58] antwaanh commented on #34
@thetutlage @RomainLanz.
I'm confused about this as well. Any insight is greatly appreciated.

In my case I'm using a route validator.

App/Validators/StorePackage
[code]

Error
[code]

[2018-01-22 05:32] thetutlage commented on #34
It is because you are reading the docs from indicative version 4 and Adonis uses the old version that is 3, docs for that version are here http://indicative-3.adonisjs.com/

Next release of AdonisJs will have to indicative v4.

[2018-01-22 13:33] antwaanh commented on #34
@thetutlage thanks for the reply.

Even [these docs](http://indicative-3.adonisjs.com/#indicative-schema-rules-number) have the number schema rule.

[2018-01-25 08:22] thetutlage commented on #16
Closing since not actionable

[2018-01-25 08:22] #16 closed, assigned to thetutlage

[2018-01-25 08:22] thetutlage commented on #31
Closing since no response from the issue reporter and not actionable as well

[2018-01-25 08:22] #31 closed, assigned to nobody

[2018-02-12 10:19] JZLeung opened #37 "npm: Installation failed"
[code]
for more
[code]

[2018-02-12 10:21] #37 closed, assigned to nobody

[2018-02-12 10:22] JZLeung commented on #37
maybe the source of taobao to cause this error.

[2018-02-16 22:37] RomainLanz commented on #34
Closing this since it's fixed in the new release of the framework (4.1).
Please upgrade (it takes only a few minutes).

[2018-02-16 22:37] #34 closed, assigned to nobody

[2018-02-16 22:37] RomainLanz commented on #28
Closing this since it's fixed in the new release of the framework (4.1).
Please upgrade (it takes only a few minutes).

[2018-02-16 22:37] #28 closed, assigned to thetutlage

[2018-02-16 23:50] farhan2106 opened #38 "Unable to validate properly"
**My Code:**

[code]

**Insomnia:**
[code]

**Issue:**
If I remove
[code]
I will receive 200. If I include the above, I receive 400.

[2018-02-17 05:12] thetutlage commented on #38
The formatter property returns the wrong value. Check the docs for upgrade guide https://adonisjs.com/docs/4.1/upgrade-guide#_formatters

[2018-02-17 05:58] farhan2106 commented on #38
My bad 💃 .

Thank you for responding :D.

Closing.

[2018-02-17 05:58] #38 closed, assigned to nobody

[2018-02-19 14:06] danielsalles opened #40 "Bug to class name"
If create `validator` using `path` the `class` name bug.

Example:
`adonis make:validator User/index`

Output:
[code]

[2018-03-05 18:00] 9585999 opened #41 "error: `make:validator` is not a registered command"
after installation
![img 2018-03-05 20 58 02](https://user-images.githubusercontent.com/16165904/36991172-f364b814-20b7-11e8-9769-d576121b5a15.PNG)

AND the set
![img 2018-03-05 20 57 50](https://user-images.githubusercontent.com/16165904/36991182-f8738bfa-20b7-11e8-859a-bea20348e7b0.PNG)

when you try to run
[code]

sees an error
[code]
---

after installing the validator, at startup `adonis serv

[2018-03-05 18:12] #41 closed, assigned to nobody

[2018-03-09 18:37] visualcookie opened #42 "Validator not working"
I'm using the Blog demo repository to check out Adonis. Somehow the validations are not working and `validator.fails()` always returns `true` even tho every field has values and is unique. It's not even returning a `validator.message()` when some fields are not filled, but required.

Spec:
OS: Windows 10
NPM: 5.7.1
Node: 8.10.0

Just in case it's needed: https://github.com/adonisjs/adonis-blog-dem

[2018-03-11 01:49] visualcookie commented on #42
Opened ticket in https://github.com/adonisjs/adonis-blog-demo

[2018-03-11 01:49] #42 closed, assigned to nobody

[2018-03-11 06:09] kembek opened #43 "Sanitizing user input - not working"
app/Validators/Test.js

[code]

route.js

```Route.get('/test', 'TestController.test').validator('Test')```

and

```Route.post('test', 'TestController.test').validator('Test')```

app/Controllers/Http/TestController.js

[code]
### INPUT

[code]

### OUTPUT:

[code]

[2018-03-12 09:08] kembek commented on #43
maybe I asked the wrong question, or I missed something

[2018-03-13 15:21] kembek commented on #43
I apologize for my fault. I’m understand how work sanitization . It turns out that sanitization does not work without views.
Thank you all for your time

[2018-03-13 15:21] #43 closed, assigned to thetutlage

[2018-03-18 14:48] CodingDive opened #44 "Validating user instance in hook"
I wanted to move my validation calls into the hooks because this allows me to not worry about calling the validation in the routes or controllers.

Inside my User model I register the hook.

[code]

and in my User hook I add the validation

[code]

Afterwards I check if `validation.fails()` and throw an error which is then handled by the controller that executes queries with lucid. With the code a

[2018-03-19 05:50] thetutlage commented on #44
Simply use `user.$attributes` over `user.toJSON()`

[2018-03-19 12:10] #44 closed, assigned to nobody

[2018-03-21 16:59] codingphasedotcom opened #45 "This is down can't install"
![screen shot 2018-03-21 at 12 54 16 pm](https://user-images.githubusercontent.com/26421899/37724716-c7090728-2d07-11e8-8188-7c630ebeaeef.png)
I tried using adonis install @adonisjs/validator
and can't download even with npm or yarn

[2018-03-21 18:20] RomainLanz commented on #45
Hey @codingphasedotcom! 👋

You are installing using the scope **@adonis** instead of **@adonisjs**.

[2018-03-21 21:52] itsemirhanengin opened #46 "I can't install the validator package"
![adsiz](https://user-images.githubusercontent.com/21215832/37739459-5a188f5c-2d17-11e8-8f66-f23793c5f25e.png)

I get such an error when I start to install the package.

[2018-03-21 21:54] itsemirhanengin commented on #46
I tried to install again, this time it happened. :)

[2018-03-21 21:54] #46 closed, assigned to nobody

[2018-03-21 23:17] codingphasedotcom commented on #45
wow

[2018-03-22 05:24] thetutlage commented on #45
Closing, since the issue is fixed

[2018-03-22 05:24] #45 closed, assigned to RomainLanz

[2018-03-24 13:26] alanaasmaa commented on #40
I have same issue.

Did you get the validator to work in sub folder ?

[2018-03-24 13:54] thetutlage commented on #40
It shouldn’t stop u from using it, simply put the class name manually.

Also I’ll fix the cli to produce the right class name

[2018-03-24 13:57] alanaasmaa commented on #40
@thetutlage Damn u reply fast.

I tried to fix class name manually but it did not work. I get 204 No Content from my api.

[2018-03-24 14:08] thetutlage commented on #40
204 is not an error, also response code is not a way to find if something works or not.

Make sure your controller does return something or calls `response.send`

[2018-04-03 16:16] franciscosucre opened #48 "Use a validator from a provider"
Hi, i have a set of base validators in a provider and i want to use them as a route validator.

I add the singleton in the provider like this:

[code]

And i try to call it in a controller like this.

[code]

It always gives me a module_not_found error. Please help.

[2018-04-03 16:49] thetutlage commented on #48
Yup, since it is looking for the validator inside the conventional directory, `app/Validators`. You can tell the resolver to pull a binding from the IoC container as follows.

[code]

[2018-04-04 05:42] eBaeza opened #49 "Santize query params from middleware dosen't work"
I'm trying to sanitize query params using the validator middleware, and this is no posible because in `_sanitizeData`  only validate the post data. This is what you have:

[code]

I make a PR https://github.com/adonisjs/adonis-validation-provider/pull/47 but you have note reviewed yet

[2018-04-13 19:44] RomainLanz commented on #49
Closing in favor of the PR.

[2018-04-13 19:44] #49 closed, assigned to nobody

[2018-04-13 19:45] RomainLanz commented on #48
Closing since answered and no response from issue reporter.

[2018-04-13 19:45] #48 closed, assigned to thetutlage

[2018-04-19 02:24] jmlaya opened #50 "Number validation fail without sanitize"
I have a field with a float (money) value. I tried to apply `number` validation, but it fails because the value retrieved is a string. Works fine using `to_int` sanitizer, but in this case, I need a `to_number` or `to_float` sanitizer.

[2018-05-07 07:11] thetutlage opened #51 "Allow validations messages to be localized out of the box."
**Original message: Copied from https://github.com/adonisjs/discussion/issues/62**

I wonder if validator messages will looking for translation (if available) by default. For example, if we have `unique`, `required` or any validations error it will looking for available translation first, otherwise use default message.

The translation file would be located in `resources/locales/<locale>/validatio

[2018-05-07 07:15] thetutlage commented on #51
It will be nice if you can answer following questions.

1. What will be the convention to store validation messages. For example: In which file, should they be stored.
2. How to handle cascading messages. For example: Validator allows custom messages for `rule <required>` or `field+rule <username.required>`
3. How to handle messages, which are different at runtime. For example

#### New user regis

[2018-05-07 11:00] feryardiant commented on #51
1. I'm not sure if there's any convention about this, but I believe especially for those who come from laravel world find it's useful to have sort of [built-in](https://github.com/laravel/laravel/blob/master/resources/lang/en/validation.php) functionality
2. Let's just keep it simple, the default validation message should only handle common validation rules, not for specific one. If there `<field>

[2018-05-07 13:30] moltar commented on #51
It should also support internationalization then, if there are defaults defined.

[2018-05-08 04:09] thetutlage commented on #51
Kind of makes less sense to me, that for default messages, it will work fine and as I will try to customizes things a bit, it will just fall apart.

Also majority of apps, does have a slight variation in their messages, based upon the action. So it is simply not usable for them

[2018-05-08 11:42] osman-mohamad commented on #51
hi @thetutlage . validation messages i18n and default back to the english i18n messages .
and for the action veriations make the route validation class overwrite the global i18n messages .
simply :
[code]

[2018-05-08 12:01] feryardiant commented on #51
I'm not sure I could describe it clearly but in my case

- Validator will check validation message for current action (or route) if provided
- otherwise will use glbal validation message depends on `app.locales.locale` config

That's it, i guess

[2018-05-08 17:09] thetutlage commented on #51
I have added this to the list of enhancements.

[2018-05-18 13:38] tomcss commented on #50
I've run into the same problem.

[2018-05-19 03:54] thetutlage commented on #50
I believe you can extend the sanitizer and add your own `to_float` rule.

[2018-05-21 15:17] annymosse opened #52 "validation.fails() always return true"
hi , i have the latest version for now `@adonisjs/vlidator` v5.0.3, and i copied the same example in the docs ,but always return true the ,and if there is an ability to check all the request inputs and return single json response have the checks for all the inputs , coz now the validator in each request check the first input if have error return without continue the next inputs
**thanks**

[2018-05-21 21:45] RomainLanz commented on #52
Hey @annymosse ! 👋

Could you please provide some code to replicate?

[2018-05-25 22:26] Melchyore opened #53 "Get value of the rule parameter"
It would be useful if we can get the value of the parameter of a given rule.
Let say we have something like that :
[code]

[code]

What do you think about that?

[2018-05-28 03:29] thetutlage commented on #53
It's supported, check here https://indicative.adonisjs.com/docs/templating#_available_keywords

[2018-05-28 03:31] thetutlage commented on #52
Closing since no response from the issue reporter and not actionable as well

[2018-05-28 03:31] #52 closed, assigned to RomainLanz

[2018-05-28 21:30] Melchyore commented on #53
Thank you!
locales/en/validation.json :
[code]
But how I can provide the 'argument' array automaticaly here :
Validators/StoreUser.js
[code]
please?

Or it must be added manually?

The objects inside errorMessages array don't contain any 'argument' property.

[2018-05-29 02:39] thetutlage commented on #53
You don't have to pass it. It will be injected automatically by indicative. Your message will look as follows.

[code]

The double curly brace `{{` will not be parsed by `antl` and hence forwarded to indicative.

[2018-05-29 15:12] Melchyore commented on #53
Thanks!

But it doesn't seem to work or I did something wrong.

When I try using `formatMessage` or `get` :
[code]

Maybe I don't get the way to achieve it?
(sorry to be hassle)

[2018-05-31 05:21] bhavikgarg opened #54 "Email Validation for rule 'email' fails"
I am facing an issue in email validation. While trying to validate emails, I always get this error
` [ { message: 'e.hasOwnProperty is not a function',
   field: 'email',
   validation: 'ENGINE_EXCEPTION' } ]`

I am unable to reproduce the cause and also checked the NPM package, but could not get insights.

[2018-05-31 05:25] thetutlage commented on #54
Share some code please

[2018-05-31 05:44] thetutlage commented on #53
So the problem is, you are not using the inbuilt messages property of the validator and making messages yourself. In that case, it is expected that no transformation of values will be done.

What you need is simple

[code]

[2018-05-31 15:38] Melchyore commented on #53
Thanks, it works now!
(it was not mentioned in the docs :p)

Also, is it possible to do something like that :
[code]
so that indicative will replace {{ field }} by the new field value.

[2018-06-01 11:21] thetutlage commented on #53
Nope, that's not possible and also not something I am planning to add

[2018-06-01 11:21] #53 closed, assigned to thetutlage

[2018-06-08 20:55] RomainLanz commented on #54
Closing since no answer from issue reporter.

[2018-06-08 20:55] #54 closed, assigned to thetutlage

[2018-06-08 21:50] RomainLanz commented on #40
Issue moved to [adonisjs/adonis-cli #111](https://github.com/adonisjs/adonis-cli/issues/111) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-08 21:50] #40 closed, assigned to nobody

[2018-06-10 19:02] pedzed commented on #2
It does not seem to work. @thetutlage which commit resolved this issue?

[2018-06-11 05:06] thetutlage commented on #2
@lmj0011 Why the changes related to this repo has to be documented in Indicative?
The `unique` rule is solely part of the adonis-validator and is documented here https://adonisjs.com/docs/4.1/validator#_custom_rules

[2018-06-11 05:10] lmj0011 commented on #2
Disregard my comments, in all Adonis related projects. I'll moved on from Adonis

[2018-06-11 11:08] pedzed commented on #2
@lmj0011 That's not how open source works. If you want to opt out from notifications, you can unsubscribe, like in the image here:

![GitHub unsubscribe](https://user-images.githubusercontent.com/8146593/41228448-b1c186b8-6d78-11e8-81a7-107745fcd28e.png)

Apparently I wrote `unique:users,email,${userId}` rather than `unique:users,email,id,${userId}`. Now it works.

[2018-06-11 11:13] thetutlage commented on #2
Yup it has to be `unique:users,email,id,${userId}`. Since you have to tell which column to ignore.

The rule is added by `adonis-lucid`. You can see the implementation here https://github.com/adonisjs/adonis-lucid/blob/develop/src/Validator/index.js

[2018-06-12 01:32] oliveiradouglas commented on #16
@thetutlage has the definitive solution to this problem?

[2018-06-13 05:10] mukhsin commented on #2
Hi, I'm new to adonisjs
I have followed the instructions here
[https://github.com/adonisjs/adonis-lucid/blob/develop/src/Validator/index.js](https://github.com/adonisjs/adonis-lucid/blob/develop/src/Validator/index.js)

In development mode it works fine, I tested in postman
I have issue in test mode
It fails on ignoring the row

Here is my rule
![screenshot from 2018-06-13 11-59-42](https://user-i

[2018-06-13 08:10] RomainLanz commented on #2
Hey @mukhsin!

Please, use the forum to ask this kind of question.

[2018-06-18 18:56] thetutlage commented on #50
Closing since not actionable

[2018-06-18 18:56] #50 closed, assigned to thetutlage

[2018-07-15 04:22] thetutlage opened #56 "Bug to class name"
_From @RomainLanz on June 8, 2018 21:50_

@danielsalles commented on [Mon Feb 19 2018](https://github.com/adonisjs/adonis-validation-provider/issues/40)

If create `validator` using `path` the `class` name bug.

Example:
`adonis make:validator User/index`

Output:
[code]

---

@alanaasmaa commented on [Sat Mar 24 2018](https://github.com/adonisjs/adonis-validation-provider/issues/40#issuecomment-3

[2018-07-15 04:22] thetutlage commented on #56
The validator is generated via `adonis-validation-provider` and hence moving issue to that repo

[2018-08-01 09:06] sujai1009 commented on #31
hi thetutlage validator is not working for resource routing. In the route listing all info except the validators are shown

[2018-08-24 14:27] Ali-Azmoud opened #58 "How to extend validator?"
Hi
I know this is somehow mentioned in the documentations but it's not documented well !
I've read all docs of current version of Adonis ( 4.1 ) and ( 4.0 ) and also ( 3.2 ). I couldn't find out how to extend it.
I want to add `exists` to my validator.
There are a bunch of code in the documentation which is not clear WHERE should I paste them and HOW to autoload them or whatever.
Can somebody plea

[2018-08-25 10:44] RomainLanz commented on #58
Hey @Ali-Azmoud! 👋

To extends to Validator Provider you need to add code to the `start/hooks.js` (create it if it doesn't exist).

Then add the code you have here https://adonisjs.com/docs/4.1/validator#_extending_validator.

[2018-08-26 13:17] #58 closed, assigned to RomainLanz

[2018-09-27 10:01] #56 closed, assigned to thetutlage

[2018-10-31 18:28] artem-a opened #59 "Describing validators"
Hi,is it possible to describe the validator once (as class or object) and use it in different places: ace commands, controller or as middleware?

[2018-11-01 08:29] thetutlage commented on #59
Validators are tied to the routes and they have extra behaviour which is specific for HTTP requests. For example:

When validation fails, the validator will redirect the user back and flash the errors inside session flash messages, and ofcourse it's not possible to redirect anywhere in case of `ace` commands.

If you want a generic validation helper, then create your own class and use it anywhere

[2018-11-01 08:29] #59 closed, assigned to thetutlage

[2018-11-05 19:19] cedmundo opened #60 "Cannot extend sanitizer"
Hello, I'm kind of stuck trying to extend the default sanitizier:

Version of @adonisjs/validator: ^5.0.6
Snippet:
[code]

Expected:
[code]

Got:
[code]

Thanks in advance

[2018-11-05 21:18] thetutlage commented on #60
You can add it as

[code]

[2018-11-05 21:38] cedmundo commented on #60
Thank you! it works like a charm.

[2018-11-05 21:38] #60 closed, assigned to thetutlage

[2018-12-26 03:26] kieuminhcanh opened #61 "[Feature Request] include request.validated() to get all valid fields from request"
# Why this feature is required (specific use-cases will be appreciated)?
I use Route validator. And I only want get valid fields. Other fields do not define in Rules will be remove.

**UserStore.js**
[code]

**UserController.js**
[code]
I thing this feature will help faster's code and security because all data alway valid. Before use in controller.

[2018-12-27 07:57] RomainLanz commented on #61
Hey @canhkieu! 👋

This feature is already planned to be added in the next release.

[2019-02-25 14:52] HapLifeMan commented on #25
Hi Virk, this would be a great change, I think that's a better way to check if the user is authorized to perform the action before running validation rules.

I'm very confused because I come from Laravel, and Laravel runs the authorize method before running the rules... If you want to follow what they do (as you mostly did), this is the way to do it well 😉

[2019-04-03 17:06] HapLifeMan opened #62 "Allow to define snake_case rules name in Validator.extend()"
## Why this feature is "required"?
We are using rules in strings like this: `required_with:otherField`, and when we want to extend the validator with custom rules, we are obliged to define them in `camelCase`.

That can be a good _feature_ to be able to define them in `snake_case` too, in order to be more consistent with Indicative :)

Use case: when searching for a custom rule in your IDE, it's s

[2019-04-17 18:32] papalardo commented on #53
I try here and not working. 😢

[2019-05-01 09:20] begueradj opened #63 "Validator fails to send custom error message"
## Goal
Send a custom message to the client when data validation fails
## Package version
5.0.6
## Node.js and npm version
npm: 6.4.1
node.js: v10.15.3
adonisjs: 4.1
## Client code
[code]
## Server code
[code]

## Expected behavior
I expect to receive "Hello there" message on the client side when data is not valide

## Actual behavior
- On the client side, I get this message: ‘Request failed with

[2019-05-01 14:22] begueradj commented on #63
This is not a bug.
Solved.
How ? Just debugged the ` on the client side to check the keys of the error object, and you will get what you need.

[2019-05-01 14:22] #63 closed, assigned to nobody

[2019-05-07 17:40] derrikfleming opened #64 "Ability to use both syntax styles in same rule"
## Why this feature is required (specific use-cases will be appreciated)?
I'm attempting to use multiple Validators (required, unique) in congruence with a custom RegEx expression, like so:

[code]

However, in the above `rules` only the RegEx is actually validated. The others don't work unless I remove the RegEx rule.

## Have you tried any other work arounds?
I've poked around a little bit with

[2019-05-09 10:15] begueradj commented on #58
Hello @Ali-Azmoud
You can write that code directly in `start/hooks.js` file. I did this some weeks ago.
If you are still confused, I can write an article with a naive demo on my blog (no commercial things on my blog, just want to help)

[2019-05-12 04:21] JhonatanPereira commented on #51
Any updates on that?

[2019-06-27 01:58] trantuan94 commented on #56
I installed your package into my Adonisjs project and also tried to generate Validator file by your command. But I still detect this bug. The 'adonis make:validator  User/CreateUser' command create the new file in ./Validators/User/CreateUser.js but the 'class name' still invalid 'UserCreateUser'.

[2019-06-27 02:04] trantuan94 opened #65 "The class name invalid when generate Validator file using command"
## Package version

v5.0.9
## Node.js and npm version

Node v10.16.0
npm v6.9.0
OS: Ubuntu 18.04 LTS
## Description
I installed your package into my Adonisjs project and also tried to generate Validator file by your command. But I still detect this bug. The 'adonis make:validator  User/CreateUser' command create the new file in ./Validators/User/CreateUser.js but the 'class name' still invalid -Us

[2019-06-30 07:42] RomainLanz commented on #65
Hey @trantuan94! 👋

Since this code is tested in our package could you please make a falling test so we can reproduce the issue?

[2019-06-30 22:57] juhguu opened #71 "Bug on sanitize request"
Hello!

Im with a strange behavior when I sanitize user input.
I have a custom sanitizer that transforms metadatas arrays into dynamic jsons.

Custom sanitizor:

[code]

My validator:

[code]

My controller:

[code]

When I submit the form, the sanitize works, but it does not replace the metadata content. Instead, it merges the old content with the new content. Like this:

[code]
But if I use the

[2019-08-05 18:29] sifloz commented on #58
I'm still confused.
I tried to do what @RomainLanz mentioned above but I just cannot figure it out.
I created the `start/hook.js` file and then pasted directly the code from Documentation without anything else and now it no longer works.

I'm quite new with AdonisJS and I think this should be clearer in the documentation.
I'd really appreciate your help @begueradj

[2019-08-05 18:59] begueradj commented on #58
Feel free to ask your questions on https://forum.adonisjs.com/ @sifloz

[2019-08-12 19:28] hiukky commented on #58
I have the same problem creating a custom rule following the tutorial of site.

[2019-08-13 07:13] FrancoisXavierNoe opened #68 "Indicative version upgrade dependency"
## Why this feature is required (specific use-cases will be appreciated)?
I would like to use the new features present in Indicative v7.2.0 but @adonisjs/validator v5.0.6 have an old dependency : "indicative": "^5.0.8"

## Have you tried any other work arounds?
No

## Are you willing to work on it with little guidance?
It depends of the work...

[2019-09-16 22:03] sifloz commented on #51
@thetutlage
Hello, and thank you for providing a way to localize the custom messages.

Is there any way to achieve this using Route validators? I already created a Validator for each model so I don't use the .validate() function. Instead I use:
Route.post('my-route', 'MyController.store').validator('StoreItem')

[2019-09-20 11:12] vaso2 commented on #51
@thetutlage
Hi, same question. Any updates for localized error messages from Route validators?

[2019-10-05 10:56] ZipoKing opened #69 "PostgreSQL: unique validation rules does not work"
I have unique index set on email column within users table. I had my project running under MySQL and everything was working fine. When I have switched to PostgreSQL 12 unique validation stopped working and app crashes during INSERT command.
500 error screenshot: https://imgur.com/Bq10he4

## Package version
5.0.6

## Node.js and npm version
Node 10.16.0
Npm 6.11.1

## Sample Code (to reproduce the

[2019-10-05 11:03] ZipoKing commented on #69
config/database.js:
[code]

package.json:
[code]

[2019-10-09 10:31] JoaoCnh commented on #69
Can confirm this is happening. A required validation works while an unique validation is ignored.

[2019-10-12 10:26] ZipoKing commented on #69
This is something within database provider? I tried to launch manually query from the Validator
[code]
and I am getting 0 result instead of 1

[2019-10-13 10:47] thetutlage commented on #69
Can you share the SQL query being generated by turning the database query log

[2019-10-13 18:32] ZipoKing commented on #69
To be detailed, this is test which is failing:
[code]

With MySQL I have following queries (1st set check for unique email (SELECT) and then makes 3 INSERTs for new signup (Account, User, ActivationLink) and then with 2nd calls stops with SELECT as it comes from Validator and finds duplicated data:
[code]

With Postgres, SELECT is called as well but for some reason result is ignored and app crashe

[2019-10-15 20:08] alexandrepaiva-dev opened #70 "-"
My mistake

[2019-10-15 20:15] #70 closed, assigned to nobody

[2019-11-05 18:27] thetutlage commented on #51
After exploring a lot, the following is the best I can come up with.

## Messages for Rules
They are defined within the localization file as follows:

[code]

## Messages for Field + Rule

[code]

## Custom message for a specific action or route
Here one can prefix the messages with an identifier and then use that identifier within the Route validator.

[code]

and the validator will have an addit

[2019-11-05 19:10] lffg commented on #51
@thetutlage , but then how would I internationalize the field name?

[2019-11-05 19:10] lffg commented on #51
@thetutlage , but then how would I internationalize the field name?

[2019-11-06 11:12] thetutlage commented on #51
I believe, you would know the field name before hand

[code]

[2019-11-07 10:31] thetutlage commented on #62
Though it's an easy task, I will skip it for now. However, if you are interested, you can create a PR for same in the https://github.com/poppinss/indicative repo

[2019-11-07 10:31] thetutlage commented on #62
Also closing, feel free to re-open, if you plan to add a PR

[2019-11-07 10:31] #62 closed, assigned to thetutlage

[2019-11-19 11:45] pdipax commented on #68
please update the dependency. Thanks

[2019-11-19 12:03] RomainLanz commented on #68
If you cannot wait for the update we will happily accept a PR. 🙂

[2019-12-20 01:50] gap777 commented on #68
@RomainLanz  Can you provide an estimate of when you  would otherwise get to upgrading this dep?

As far as the PR from @pdipasqua (or myself, or anyone else for that matter) goes... @RomainLanz do you foresee this as a very difficult upgrade?

[2020-01-12 06:01] vimalmistry commented on #69
Mysql: Same here. unique validation not working for both email and username
required working fine.

[code]

[2020-01-16 18:59] jstavanja commented on #58
If anyone is still wondering how to do this, I found a solution.

Create the `start/hooks.js` file (if it does not yet exist). Then, copy the code sample for adding the "exist" validation rule to the Validator instance from the [AdonisJS documentation](https://adonisjs.com/docs/4.1/validator#_extending_validator) and paste it inside this block of code:

[code]

This way, the use('Validator') funct

[2020-02-14 08:16] thetutlage commented on #64
Not valid with the newer API targeting the framework v5.

[2020-02-14 08:16] #64 closed, assigned to thetutlage

[2020-02-14 08:17] thetutlage commented on #61
The newer release targeting v5 will fix this issue. The `request.validate` method will right an object of only validated properties.

[2020-02-14 08:17] #61 closed, assigned to thetutlage

[2020-02-14 08:18] thetutlage commented on #65
Closing since it not valid anymore

[2020-02-14 08:18] #65 closed, assigned to thetutlage

[2020-03-01 06:48] thetutlage commented on #68
Not relevant with the newer release. Since, we are not using Indicative anymore.

Docs will be out with the newer release of AdonisJS.

[2020-03-01 06:48] #68 closed, assigned to thetutlage

[2020-03-01 06:49] thetutlage commented on #71
Closing, since the validator has changed a lot in last few months and sanitization is now part of validation itself. So this issue is not valid anymore

[2020-03-01 06:49] #71 closed, assigned to thetutlage

[2020-03-02 18:42] backspacerhino opened #73 "Type 'Rule[]' has no properties in common with type - Wrong validator example"
## Package version
5.0.0-preview

## Node.js and npm version
v12.14.1 and 6.13.4

## Sample Code (to reproduce the issue)
`node ace make:validator TestValidator` will create validator with an example:

but TS complains. From [test](https://github.com/adonisjs/validator/blob/develop/test/schema.spec.ts) for Schema I can see that it should instead be

Once I do it like that I no longer get TS compla

[2020-03-02 19:52] agtabesh commented on #73
According to the code, because of existence of `rules` parameter in all `schema type`s, I think it's better to have `rules` as first argument.

[2020-03-03 05:11] thetutlage commented on #73
You may not always want to define rules on a schema type. For example:

[code]

or

[code]

So having the rules array at first position is very subjective. I am okay keeping it as a last argument.

[2020-03-03 05:13] thetutlage commented on #73
Back to the real issue. It's been fixed in `@adonisjs/assembler@1.3.4`. Feel free to update the dependency and should be good

[2020-03-03 05:13] #73 closed, assigned to nobody

[2020-03-03 12:59] agtabesh opened #74 "request.validate() does return undefined"
## Package version
5.0.0-preview

## Node.js and npm version
v12.14.1 and 6.13.4

## Sample Code (to reproduce the issue)
The code below does return `undefined`:
[code]
But simple `request.all()` returns all expected data from submitted form.

[2020-03-03 13:19] thetutlage commented on #74
What's the output of `request.all()`?

[2020-03-03 13:38] agtabesh commented on #74
@thetutlage the actual submitted value including `title` and `body` which both of them are `string`.

[2020-03-03 13:54] thetutlage commented on #74
You can share the output of `request.all()` as it is?

[2020-03-03 13:59] agtabesh commented on #74
@thetutlage here it is:
[code]

[2020-03-03 14:01] thetutlage commented on #74
Weird!. Is it possible for you to share a repo that I can use to reproduce the issue?

[2020-03-03 14:44] agtabesh commented on #74
Yes, here you are:
[https://github.com/agtabesh/request-validate-bug](https://github.com/agtabesh/request-validate-bug)

[2020-03-03 15:56] #74 closed, assigned to thetutlage

[2020-03-03 15:56] thetutlage commented on #74
Thanks for reporting. Releasing the fix

[2020-03-03 16:02] thetutlage commented on #74
Released as `6.2.7`. Running `npm i @adonisjs/validator@alpha` should fix the issue

[2020-03-03 17:51] agtabesh opened #75 "schema.string() requi considered twice!"
## Prerequisites

We do our best to reply to all the issues on time. If you will follow the given guidelines, the turn around time will be faster.

- Lots of raised issues are directly not bugs but instead are design decisions taken by us.
- Make use of our [forum](https://forum.adonisjs.com/), or [discord server](https://discord.me/adonisjs), if you are not sure that you are reporting a bug.
- En

[2020-03-03 18:04] thetutlage commented on #75
Issue doesn't adhere to the guidelines of creating a proper issue.

1. Make sure that you are only reporting bugs or submitting feature requests on Github.
2. In case of feature requests, please be descriptive and explain how this feature helps a broader audience and not just you.

If you are not submitting a bug and neither a feature request, then please use the [forum](https://forum.adonisjs.com

[2020-03-03 18:04] #75 closed, assigned to nobody

[2020-03-29 01:17] thiscosta opened #76 "Validator redirecting to "/" route"
## Description

When i make a POST to "/events" with the validator, im being redirect to "/" route. It works if i remove the validator. I have console.log's in the validator methods and they're being printed on the console, but i'm instead being redirected.

## Package version
4.1.0

## Node.js and npm version
Node: 10.15.2
NPM: 5.8.0

## Sample Code (to reproduce the issue)

[code]

## BONUS (a s

[2020-03-29 07:04] thetutlage commented on #76
The validator uses content negotiation to decide the errors output behavior. Set the `accept` header to `application/json` and it will return them back in JSON

[2020-03-29 15:35] thiscosta commented on #76
@thetutlage Solved! Thanks

[2020-03-29 15:35] #76 closed, assigned to thetutlage

[2020-04-03 23:38] enbermudas commented on #58
I've used the @jstavanja answer but it's throwing the next error:

[code]

My code:

[code]

[2020-04-04 13:46] jstavanja commented on #58
Make sure that you add the use('Validator') "import" inside the hooks.after.providersBooted( () => ...) callback. Before the providers are booted, the Validator might not yet be instantiated. Same goes for any other use statements (not the hooks require one though).

[2020-04-14 22:55] b01110011 opened #78 "validator@5.0.6 replaced form fields to uploaded files"
## Package version
@adonisjs/validator@5.0.6

## Node.js and npm version
Node.js v12.16.0
npm 6.13.4

## Sample Code (to reproduce the issue)
I send data by method "multipart/form-data", after processing bodyparser in the output, I get 2 objects:
1) request.body - with form fields
2) request._files - with uploaded files
Like this:
[code]

At the time of validation, these 2 objects are merging with

[2020-04-15 01:58] thetutlage commented on #78
Please format the codeblocks 🙏

[2020-04-15 11:27] b01110011 commented on #78
Sorry, I forget about it :grinning:

[2020-04-17 18:01] b01110011 opened #79 "File validator works as required"
## Package version
@adonisjs/bodyparser@2.0.9

## Node.js and npm version
Node.js v12.16.0
npm 6.13.4

## Sample Code (to reproduce the issue)
File validator works as required.
It's optional rule
`'image': 'file|file_size:2mb|file_types:image',`

@adonisjs\bodyparser\src\Bindings\Validations.js
[code]
Need change something like:
[code]

[2020-04-17 20:27] b01110011 commented on #79
Sorry, not here!
https://github.com/adonisjs/bodyparser/issues/29

[2020-04-17 20:27] #79 closed, assigned to nobody

[2020-04-20 20:06] RauppRafael commented on #51
Is this feature ready?
If not, how should I localize my validation messages?

[2020-05-01 16:02] FeMaffezzolli commented on #58
This works fine for me. Thanks! 👊

[2020-05-26 17:06] LookinGit opened #82 "A incorrect condition 'comparisonValues' in rule 'requiredWhen' for 'false' or 0"
## Package version
7.2.1

## Node.js and npm version
12.16.3 and 6.14.4

## Sample Code (to reproduce the issue)
[code]

Bug in this [condition](../blob/develop/src/Validations/existence/requiredWhen.ts#L121)
[code]

a solution:
[code]

a temporary solution:
[code]

## BONUS (a sample repo to reproduce the issue)
sorry, i think it not need

[2020-05-26 17:54] thetutlage commented on #82
Yup, indeed a bug. Mind sharing a PR for same. Will also be nice to have for other similar rules as well?

[2020-05-26 18:53] LookinGit commented on #82
Ok, i will create PR

[2020-05-27 09:38] #82 closed, assigned to thetutlage

[2020-05-31 10:48] ghost opened #84 "Custom validator rule not working"
## Package version
`"@adonisjs/core": "^5.0.0-preview-rc-1.6"`

## Node.js and npm version
[code]

## Sample Code (to reproduce the issue)
[code]
I get no error, no validation error, and the `console.log` statement is working.

[2020-05-31 12:14] thetutlage commented on #84
Why do you expect that returning `false` will give the error?

I know that the docs are not published for validator yet, but checking the existing validation rules can help you. https://github.com/adonisjs/validator/blob/develop/src/Validations/string/alpha.ts

[2020-05-31 12:25] ghost commented on #84
Oh okay, thanks! I read the docs of Indicative.js because I thought Adonis used that.

[2020-05-31 12:31] qjnr commented on #84
Just one question, though, where should I define my custom rules? In a validator class?

[2020-06-01 08:25] #84 closed, assigned to thetutlage

[2020-06-08 15:11] McSneaky opened #85 "String validation without rules causes Node to run out of memory"
String validation without rules causes Node to run out of memory and crash (example below)

It would be good to for some error to be thrown eg:
`String validation must have rules`
or
`Rules can not be empty array`

Instead of running out of memory and crashing

Maybe just TSC error about empty array? (if that's possible)

## Package version

@adonisjs/validator version 7.2.1

## Node.js and npm ve

[2020-06-08 15:13] McSneaky commented on #85
Nvm, it was not default validator problem, it was custom provider problem

[2020-06-08 15:13] #85 closed, assigned to nobody

[2020-06-29 17:30] Dolu89 opened #86 "Adding 'true' and 'false' strings to BOOLEAN values"
I need to have 'true' and 'false' values in :
const BOOLEAN_POSITIVES = [ '1', 1, 'on', 'true' ]
const BOOLEAN_NEGATIVES = [ '0', 0, 'off', 'false' ]

## Why this feature is required (specific use-cases will be appreciated)?
It should be added because edge template receive 'true' or 'false' as value when doing this :
Controller.ts
[code]

view.edge
`<p>{{myBoolean}}</p>  => display 'true', not 1,

[2020-06-30 03:44] thetutlage commented on #86
Mind sharing a PR for same?

[2020-07-01 09:32] bitkidd commented on #51
I do localization on frontend. Just use the error key received from server as an indicator for message, i18n allows you to keep all the messages in plain objects. I do it like this:
[code]

This way you can differ messages for different situations and use any i18n library without the need to bloat validator files.

[2020-07-01 10:00] Dolu89 commented on #86
Pull request sent https://github.com/adonisjs/validator/pull/87

[2020-07-03 04:30] thetutlage commented on #86
Fixed

[2020-07-03 04:30] #86 closed, assigned to Dolu89

[2020-07-07 18:32] fnoquiq opened #88 "rules.Range() does not work"
When using the following code: `schema.number([rules.range(10, 100)])`, an error appears.

The error: `Property 'range' does not exist on type 'Rules'.ts(2339)`.

I'm following the same tutorial on the site -> https://preview.adonisjs.com/guides/validator/schema-types

![Captura de Tela 2020-07-07 às 15 30 18](https://user-images.githubusercontent.com/11557379/86826207-ca36af00-c066-11ea-9bde-1df

[2020-07-08 03:52] thetutlage commented on #88
Thanks for reporting. Seems to be missing

[2020-07-14 17:53] Xstoudi commented on #88
Can I make a PR? @thetutlage

[2020-07-15 04:34] thetutlage commented on #88
Sure, feel free to do that. I will release it right away

[2020-07-17 13:44] Xstoudi commented on #88
Here it is @thetutlage #89 :)

[2020-07-18 05:03] #88 closed, assigned to thetutlage

[2020-07-21 06:14] subhamcodes opened #91 "Unique validation while update"
"@adonisjs/core": "^5.0.0-preview-rc"

There is no description regarding the unique rule. I want to check for unique fields while updating.

schema.create({
  email: schema.string({}, [
    rules.email(),
    rules.unique({ table: 'users', column: 'email' })
  ])
})

[2020-07-21 07:09] thetutlage commented on #91
Shouldn't be an issue. Please open [discussion threads](https://github.com/adonisjs/core/discussions) for these sort of things and please format your code examples.

[2020-07-21 07:09] #91 closed, assigned to thetutlage

[2020-07-28 02:55] jlenon7 commented on #60
And how I can do it using formatters.customformatter ?

I need a global formatter to use inside validators

[code]

[2020-07-31 11:49] popovicieduard opened #93 "String validation rule accepting sanitize methods like uppcase, lowercase, etc..."
## Why this feature is required (specific use-cases will be appreciated)?

In v4 you could register sanitazor methods to the validator, it would be nice to have some sanitazation rules on strings rules, like to uppsercase, to lowercase, trim.
## Have you tried any other work arounds?

This can be done before using the validator validate method, but you would have to keep track of 2 places for a si

[2020-08-03 01:56] #69 closed, assigned to nobody

[2020-08-03 01:56] #78 closed, assigned to nobody

[2020-08-13 21:00] fnoquiq opened #95 "validation rules 'afterField' and 'beforeField' doesn't work"
I believe that the following rules are not working:

- afterField()
- beforeField()
- afterOrEqualToField()
- beforeOrEqualToField()

I also opened a call on the [github discussion](https://github.com/adonisjs/core/discussions/1437). But no answers.

## Package version

[code]

## Node.js and npm version
Node: v12.18.2
Npm: 6.14.5

## Sample Code (to reproduce the issue)
[code]

## BONUS (a sample

[2020-08-13 21:57] leognmotta commented on #95
I came here to open an issue, currently having the same problem:

validator:

[code]
request:

[code]

and it is getting validated.

[2020-08-17 03:11] YuriFontella commented on #2
Is there a simple way to make the unique validation rule defining a scope?

pages
number | chapter_id
1             1
1             2

I couldn't insert two identical pages for the same chapter, but for a different chapter key, yes.

Today ignoreField and IgnoreValue it puts a not in the query
'select * from "pages" where "number" =? and not "chapter_id" =? '

The idea would be just the opposite:

[2020-08-25 18:20] Xstoudi opened #99 "Validating plain text ends up in a strange way."
## Explanation
When a JSON string with a bad content-type header is sent for validation in POST method body, it ends up really strange. I think plaintext header should be rejected without even running the validation on it.

For the following body:
[code]

Currently, I get back a 422 error (unprocessable entity) with the following response body:
[code]

## Package version
7.4.1

## Node.js and npm

[2020-08-27 08:47] thetutlage commented on #99
I believe, the validator is behaving the right way. It shouldn't worry about the HTTP specifics and malformed headers. If we want we can use bodyparser to check for this.

[2020-08-27 11:22] #95 closed, assigned to thetutlage

[2020-08-28 17:22] targos opened #101 "Have a way to avoid repeating messages in multiple validators / colocate with schema definition"
## Why this feature is required (specific use-cases will be appreciated)?

To avoid having to repeat the same message if a specific validation rule is used in multiple validators in the app, there needs to be some way of colocating the message with the rule.
One way to do it would be to have a generic option available to all rules but am open to alternatives.

Example:
[code]

For reference, in th

[2020-08-28 17:43] Xstoudi commented on #99
Got it. One more question, is this a reason to expose isRequired rule while schema types are required by default?
Found out after hours that it was what caused `required` errors to be duplicated.

[2020-08-29 06:23] thetutlage commented on #101
Something I don't want to touch right now. Also, once we will have the translations package in place. We will read messages from translation files and inling them will be inefficient. For example

With dedicated messages object

[code]

With inline messages

[code]

and then repeating it with each rule

[2020-08-29 10:13] popovicieduard opened #102 "AfterOrEqualTo and BeforeOrEqualTo rules to date schema"
## Why this feature is required (specific use-cases will be appreciated)?

Adding afterOrEqualTo and beforeOrEqualTo rules to date schema would be easier to read code-wise than using after or before rules in some use-cases, let's say you want to validate a date that is after today, including today, having to format the date to accomodate the after rule would be harder than using a new rule like af

[2020-08-29 13:32] thetutlage commented on #102
Go ahead!

[2020-09-01 06:51] targos commented on #101
Okay, let's wait to see how it goes with the intl package 👍

[2020-09-02 09:48] #101 closed, assigned to nobody

[2020-09-02 14:01] jiangzhenjie opened #104 "why flashToSession is false"
## Package version
[code]

## Node.js and npm version
[code]

## Sample Code (to reproduce the issue)

**PostsController.ts**
[code]

**Exceptions/Handler.ts**
[code]

**Terminal**
[code]

[2020-09-03 05:14] #104 closed, assigned to nobody

[2020-09-13 07:40] b01110011 commented on #78
Need replace on it
`data = _.merge({}, request.all(), files)`

because object request.all() too merges, its wrong

[2020-09-25 09:10] thetutlage commented on #99
@Xstoudi Yeah, we can remove the required rule from the set of the rules.

[2020-09-25 09:10] thetutlage commented on #99
For now, I will close the issue, since it there is nothing to act on

[2020-09-25 09:10] #99 closed, assigned to thetutlage

[2020-09-25 09:12] thetutlage commented on #93
We already have `escape` and `trim` options on the string schema type. I am not 100% sure about the casing options, coz the possibilities are unlimited. For example:

- Upper case
- Lower case
- Snake case
- Camel case
- Pascal case
- Kebab case
- Dash case
- Slugify

[2020-09-30 09:42] #51 closed, assigned to thetutlage

[2020-11-04 17:01] #102 closed, assigned to popovicieduard

[2020-11-18 14:49] macanhajc opened #105 "Change Indicative configurations"
There is a way to change the adonis indicative configurations ?
I need to remove all body attributes that is not on the rules of my Validator, so I think it should be something like the `removeAdditional` of the [configurations](https://indicative.adonisjs.com/guides/master/configure). I cant find a way using like
[code]

I saw that [here](https://github.com/adonisjs/validator/blob/ed1bbeabe1bdcb5

[2020-12-01 09:47] #93 closed, assigned to thetutlage

[2020-12-04 19:32] TiagoGouvea commented on #105
I'm needing this as well. I didn't found a way to avoid not existing attributes to my validators, resulting in SQL error, when it tries to save an attribute that doesn't exist.

[2020-12-15 15:06] mastermunj opened #106 "issue in rules.range in combination with refs and cacheKey"
Hi,

While using `rules.range` with `refs` and `cacheKey`, the validation does not work properly.

## Package version
`@adonisjs/validator@8.2.0`

## Node.js and npm version
Node: 14.15.1
NPM: 6.14.9

## Sample Code (to reproduce the issue)
Run following commands in sequence and see the error message:

### Command 1
[code]
#### Expected Output
[code]

### Command 2
[code]
#### Expected Output
[cod

[2020-12-15 15:32] thetutlage commented on #106
The `refs` are used incorrectly. You don't have to read the value property from it. It should be `this.refs.maximumLimit`

[2020-12-15 15:33] thetutlage commented on #106
Also, I see that the `range` method doesn't accept the range at all. Is range dynamic in your case, meaning it changes depending upon the request?

[2020-12-15 16:03] mastermunj commented on #106
If I use `this.refs.maximumLimit`, I get following typescript error.
[code]

Yes, the range changes depending on the current value passed for `maximumLimit`.

[2021-01-01 17:17] popovicieduard opened #107 "schema.date fails to validate luxon dates."
## Package version
    "@adonisjs/auth": "^5.1.1",
    "@adonisjs/core": "^5.0.4-preview-rc-2.1",
    "@adonisjs/lucid": "^10.0.0",
    "@adonisjs/shield": "^4.0.3",

## Node.js and npm version
node - v14.15.1 npm - 6.14.8

## Sample Code (to reproduce the issue)
[code]

response:

[code]

[2021-01-03 06:32] thetutlage commented on #107
Thanks. Will work on the fix

[2021-01-21 18:59] mastermunj commented on #106
Hi @thetutlage I am facing similar issue with maxLength rule as well. There also I need to pass length based on the value of another parameter.

Any suggestions for a workaround for both range and maxLength?

[2021-01-25 07:52] thetutlage commented on #106
For now turning of the schema caching is the way to go. I will add support for using `refs` for the maxLength argument as well.

[2021-02-09 23:59] #105 closed, assigned to nobody

[2021-02-13 10:26] #107 closed, assigned to thetutlage

[2021-02-15 18:45] JaconsMorais opened #108 "Validator not responding with error when fails"
Hello guys, I'm using Validator to validate some params in request url using example provided in [docs](https://adonisjs.com/docs/4.1/validator#_custom_data_object)
data:

[code]

Then, in rules I added:

[code]

But, the problem is, validation do not stop request life cycle and dont return any error, even when params has incorrect values.
See my route:

`Route.get('/students/:id/:field', 'Student

[2021-02-16 04:16] thetutlage commented on #108
Will need more info. Like the data you are sending and also the complete code for the validator class. Is the validator stored inside the `app/validators/v1/student/show.js` file?

[2021-02-16 16:00] JaconsMorais commented on #108
Hi, thanks for your reply.

here the validator code stored in /app/Validators/v1/student/show.js

[code]

When I request using valid url, its all ok
![image](https://user-images.githubusercontent.com/6156243/108087742-1ced3600-704e-11eb-8877-0e3dbb662e2e.png)

But, when I input invalid url params, validator does not thrown any errors and the controller is called, then the error ocurs in database q

[2021-02-17 20:29] JaconsMorais commented on #108
@thetutlage check route:list output for students resource:

![image](https://user-images.githubusercontent.com/6156243/108263947-446efc00-713d-11eb-9bb4-585bdd531180.png)

[2021-02-24 07:45] liuxiaofeng1981 opened #109 "Custom validator does not throw error when failed validation"
Hi guys,

Since there is no default validators for checking if a number value is min 10 for example, which is greater than or equal to 10. There is only above rule which does not include the edge value. I had to define a custom rule like below.

[code]

When console log I can see the rule is there:

[code]

However when validate it does not throw error when it should:

[code]

I'm on version `"ind

[2021-02-24 15:53] thetutlage commented on #109
Have you checked, if the rule validate method is actually raising the exception?

[2021-02-25 08:29] liuxiaofeng1981 commented on #109
I found the problem. When the custom validate rule is async, with `async: false`, it will need to make sure NOT mark the validate function as async. Otherwise it will have the issue.

[2021-02-25 10:39] thetutlage commented on #109
Ohh yes. Coz, if `async: false` is defined, the internal compiler will not `await` the rule and hence it results in a delayed promise rejection.

Should I close the issue?

[2021-02-25 10:45] liuxiaofeng1981 commented on #109
Sure. All good now.
Thanks

On Thu, 25 Feb 2021 at 9:39 pm, Harminder Virk <notifications@github.com>
wrote:

--
Best regards,

Xiaofeng,^_^

[2021-02-25 10:47] #109 closed, assigned to thetutlage

[2021-03-19 13:17] JaconsMorais commented on #108
@thetutlage any update on this?

[2021-03-26 09:21] thetutlage commented on #106
Will work on it

[2021-03-27 22:22] eazzyLEE opened #110 "Cannot find module '@adonisjs/validator/providers/ValidatorProvider'"
## Package version
4.1.0

## Node.js and npm version
v14.15.0 and 6.14.8

## Sample Code (to reproduce the issue)
run `adonis new <project_name> --api-only`

install/setup adonis validator by following the documentation: running `adonis install @adonisjs/validator` and adding `@adonisjs/validator/providers/ValidatorProvider` to the providers array in start/app.js

the following error is thrown whe

[2021-03-27 22:31] eazzyLEE commented on #110
@thetutlage can you help look into this.. setting up @adonisjs/validator is throwing this error

[2021-03-28 12:00] alessandroprudencio commented on #110
@eazzyLEE I have the same problem.

[2021-03-29 01:50] blackxthink commented on #110
Same issue here

[2021-03-29 14:35] Shiba-Kar commented on #110
``adonis new <project_name> --api-only``
[code]

[2021-03-29 17:04] Shiba-Kar commented on #110
```"@adonisjs/validator": "^5.1.0",```
This works for me

[2021-03-29 17:22] alessandroprudencio commented on #110
@Shiba-Kar  well, it really works

[2021-03-30 00:42] Gittenger commented on #110
I'm having the same issue, hopefully they get it figured out soon.
But using an older version of validator like this worked for me too. :)

[2021-04-04 01:05] tandavala opened #111 "```"@adonisjs/validator": "^5.1.0",```"
```"@adonisjs/validator": "^5.1.0",```

Worked for me too.

[2021-04-04 04:55] thetutlage commented on #111
Issue doesn't adhere to the guidelines of creating a proper issue.

1. Make sure that you are only reporting bugs or submitting feature requests on Github.
2. In case of feature requests, please be descriptive and explain how this feature helps a broader audience and not just you.

If you are not submitting a bug and neither a feature request, then please use the [discussion threads](https://githu

[2021-04-04 04:55] #111 closed, assigned to thetutlage

[2021-04-08 14:19] Areebsofyrus opened #112 "Unique validation at update time"
get rules() {
    const companyId = this.ctx.params.id;
    return {
      // validation rules
      name: [
        rule("required"),
        rule("max", 30),
        rule("regex", /^([a-zA-Z0-9 ]+(\.)?([a-zA-Z0-9 ]+)?)+$/u),
        rule("unique","companies",`id,${companyId}`),
      ],
      email: `required|unique:companies,email,id,${companyId}|email`,
      contact: `required|integer|max:15|

[2021-04-09 09:16] thetutlage commented on #112
Issue doesn't adhere to the guidelines of creating a proper issue.

1. Make sure that you are only reporting bugs or submitting feature requests on Github.
2. In case of feature requests, please be descriptive and explain how this feature helps a broader audience and not just you.

If you are not submitting a bug and neither a feature request, then please use the [discussion threads](https://githu

[2021-04-09 09:16] #112 closed, assigned to thetutlage

[2021-04-12 09:26] AmosKorir commented on #110
Same issue with "@adonisjs/validator": "^10.0.0",

[2021-04-12 09:51] thetutlage commented on #110
The latest version of the validator is meant to be used with the v5. Please install the package with the `legacy` tag to make it work with v4.

[code]

Closing the issue, since no action is required on our end

[2021-04-12 09:51] #110 closed, assigned to thetutlage

[2021-04-23 07:28] Areebsofyrus opened #113 "file is not defined as a validation rule"
'use strict'

class StoreUser {
  get rules () {
    return {
      avatar: 'file|file_ext:png,jpg|file_size:2mb|file_types:image'
    }
  }
}

module.exports = StoreUser

I have tried the above code for route validation of file but it is throwing the error as:
        "message": "file is not defined as a validation rule",
        "field": "image",
        "validation": "ENGINE_EXCEPTION"

Please

[2021-04-29 14:52] aryanicosa commented on #110
thanks dude, it's work!

[2021-05-05 05:07] thetutlage commented on #113
Issue doesn't adhere to the guidelines of creating a proper issue.

1. Make sure that you are only reporting bugs or submitting feature requests on Github.
2. In case of feature requests, please be descriptive and explain how this feature helps a broader audience and not just you.

If you are not submitting a bug and neither a feature request, then please use the [discussion threads](https://githu

[2021-05-05 05:07] #113 closed, assigned to thetutlage

[2021-05-25 15:15] rodrigorz opened #114 "Validation convert empty string to undefined"
## Package version
- @adonisjs/assembler: ^5.3.0
- @adonisjs/auth: ^8.0.4
- @adonisjs/core: ^5.1.7
- @adonisjs/lucid: ^14.1.0
- @adonisjs/mail: ^7.1.1
- @adonisjs/repl: ^3.1.2
- @adonisjs/view: ^6.0.2

## Node.js and npm version
- node: v14.16.0
- npm: 6.14.11

## Sample Code (to reproduce the issue)
The example below shows a request sending data via json.
[code]
So, if `group` already has a saved

[2021-05-25 16:20] rodrigorz commented on #114
I just tried to execute the same example but sending via FormData with `convertEmptyStringsToNull: true`. And I have the same problem.
[code]

[2021-05-28 06:47] #108 closed, assigned to thetutlage

[2021-06-04 07:14] #106 closed, assigned to thetutlage

[2021-06-11 21:43] rodrigorz opened #116 "[V5] Custom validation rule return undefined for validator.helpers.getFieldValue"
## Package version
"@adonisjs/auth": "^8.0.4"
"@adonisjs/core": "^5.1.8"
"@adonisjs/lucid": "^14.1.0"
"@adonisjs/mail": "^7.1.1"
"@adonisjs/repl": "^3.1.2"
"@adonisjs/view": "^6.0.2"

## Node.js and npm version
node: v14.16.0
npm: 6.14.11

## Sample Code (to reproduce the issue)
I have this custom validation rule to set field as required only if the selected category have the period = 'semiannual'

[2021-06-14 12:07] rodrigorz commented on #114
@thetutlage could you help me?

[2021-06-15 03:39] thetutlage commented on #116
The reason you get undefined is, because the value exists inside the `root` and not the `tip`. To help further I want to see how you are using this rule

[2021-06-15 12:16] rodrigorz commented on #116
I thought if it didn't exist in tip, it would get the value of root.

[code]

The `semester` is inside voucher object, the `categoryField` value needs to be different?
Or is better work with refs, to pass the Id number to my custom rule?

[2021-06-16 06:22] thetutlage commented on #116
Nope, it is about meeting the expectation of the user defining the schema. If you look at the trimmed down version of the schema

[code]

It means, the `semester` field relies on the sibling `category_id` and not the `category_id` from anywhere.

If you want to target the category id one level up, then it has to be prefixed with `/`. Meaning search in the root of the object.

[code]

Again, it is

[2021-06-18 12:21] rodrigorz commented on #116
Thanks, problem solved.

Just one more question, if `category_id` is inside of another object i need to pass the full path?
[code]

[2021-06-21 17:07] rodrigorz commented on #114
As a workaround, I created a custom rule `setDefault` that takes the default value as a parameter and `mutate` the value if necessary.

[2021-06-22 07:58] shobhit-goomood commented on #110
`npm i @adonisjs/validator@legacy` worked for me. 👍

Thanks

[2021-07-11 10:44] Osomhe1 commented on #110
![Screenshot (13)](https://user-images.githubusercontent.com/64287450/125191974-2c5b5e80-e23d-11eb-9631-659a4adb9285.png)
 having same issue  npm i @adonisjs/validator@legacy did not work for me, what do I do please?

[2021-07-12 10:25] revnology opened #117 "[V5] Date Unique Validation return error SQL syntax"
## Package version
"@adonisjs/ace": "^11.0.1"
"@adonisjs/application": "^5.1.2"
"@adonisjs/bodyparser": "^7.1.1"
"@adonisjs/encryption": "^4.0.2"
"@adonisjs/events": "^7.0.1"
"@adonisjs/hash": "^7.0.5"
"@adonisjs/http-server": "^5.3.1"
"@adonisjs/validator": "^11.0.1"

## Node.js and npm version
node: v14.17.3
npm: 6.14.13

## Sample Code (to reproduce the issue)
Using date and unique together in

[2021-07-19 17:01] thetutlage commented on #116
Yup. Closing, since it is not an issue

[2021-07-19 17:01] #116 closed, assigned to thetutlage

[2021-07-20 05:31] thetutlage commented on #114
Validator needs improvement in this area. I will be working on it this week

[2021-07-21 14:14] mastermunj commented on #106
Hi @thetutlage Is this still part of plan? This one is closed of no-activity so might get missed.

[2021-07-27 16:39] lualfer99 commented on #84
any have a idea of how do this?

[2021-08-02 13:55] EvgeniaGofman commented on #84
@lualfer99 - here is my solution for adding custom rule for validator, had to do it because of MongoDB. All credits to the guy in this issue: #116

[code]

[2021-08-07 14:20] rodrigorz commented on #114
Hi, any progress? I'm a little looking forward to it 😆.

I have an idea, maybe there might be an option in each `schema type .optional()` to set the default value;

Ex:
[code]
And `default` will accept `schema type  | null` values.
schema.string -> string | null
schema.number -> number | null
schema.array -> array | null
... all schema types

Would that work?

[2021-08-10 18:56] alannaidon opened #119 "Validate if ID exists on table"
**Adonis v4.1.0**

I'm following the official [documentation](https://legacy.adonisjs.com/docs/4.0/validator) && [indicative](https://indicative.adonisjs.com/guides/master/introduction), but I couldn't find a sample to my situation.

I want to validate if the given param exists on database.

So I tried:

_app/Validators/myValidator_
[code]

It gives me the following error:
[code]

How should I pro

[2021-08-10 19:25] alannaidon commented on #119
After a few hard try/error I stumbled upon the solution.
Just need to follow what is inside `hooks.js` and pass the values separated by comma, like so:

[code]

If possible I'd like to make a suggestion.
I know documentation sometimes are built to a public that already have a certain depth of knowledge of others frameworks alike, but would be very amazing if there was examples for this such of sit

[2021-08-10 19:25] #119 closed, assigned to nobody

[2021-08-13 13:54] thetutlage opened #120 "DateTime checks should work across different Luxon instances"
Instead of checking for `value instanceof DateTime`, we must use https://moment.github.io/luxon/api-docs/index.html#datetimeisdatetime

[2021-08-16 09:06] #120 closed, assigned to thetutlage

[2021-08-17 18:18] rodrigorz commented on #114
Hi, I updated the core package to version 5.1.11 and my custom rule `setDefault` no longer changes the value of the field, it looks like the `mutate` function doesn't do its job.

Can you see that too?

OBS: In version 5.1.7 (or 8) mutate was working.

Here is the rule code. (This code is executed, i can debug or log its contents, but mutate seems to do nothing)
[code]

[2021-08-17 23:45] sandhilt opened #122 "Allow create custom validations"
## Why this feature is required (specific use-cases will be appreciated)?
Some rules is very specify from business and we need do a validation outside from framework of validation.
An example for this, Adonis Indicative have rule's integer and Adonis v5 don't.

## Have you tried any other work arounds?
Adonis Indicative

## Are you willing to work on it with little guidance?
Yes

[2021-08-19 17:29] graceEjegwa opened #123 "![Screenshot (13)](https://user-images.githubusercontent.com/64287450/125191974-2c5b5e80-e23d-11eb-9631-659a4adb9285.png)"
![Screenshot (13)](https://user-images.githubusercontent.com/64287450/125191974-2c5b5e80-e23d-11eb-9631-659a4adb9285.png)
 having same issue  npm i @adonisjs/validator@legacy did not work for me, what do I do please?

_Originally posted by @Osomhe1 in https://github.com/adonisjs/validator/issues/110#issuecomment-877777921_

[2021-08-20 03:43] #123 closed, assigned to thetutlage

[2021-08-20 03:43] thetutlage commented on #123
Issue doesn't adhere to the guidelines of creating a proper issue.

1. Make sure that you are only reporting bugs or submitting feature requests on Github.
2. In case of feature requests, please be descriptive and explain how this feature helps a broader audience and not just you.

If you are not submitting a bug and neither a feature request, then please use the [discussion threads](https://githu

[2021-08-26 15:35] graceEjegwa commented on #110
I'm having the same issue and using npm i @adonisjs/validator@legacy did not work for me, has this been resolved?

[2021-09-27 14:46] thetutlage commented on #122
Documented https://docs.adonisjs.com/guides/validator/custom-rules.

Closing for now. Feel free to reopen the issue if the docs doesn't fix your issue

[2021-09-27 14:46] #122 closed, assigned to thetutlage

[2021-10-05 21:25] rodrigorz commented on #114
HI, any progress with this feat?

[2021-10-26 22:10] jrrmcalcio commented on #104
can you please tell me what was the issue i'm having the same problem please :(

[2021-11-11 11:15] Kledenai opened #125 "Duplicate error message"
I'm having a problem in the validator that the error message is coming back duplicated, and I don't know what's happening

validation file:
[code]

controller file:

[code]

message returning duplicate:

[code]

version of the package:

[code]

node version:

[code]

[2021-11-11 11:23] devbapidey commented on #125
Pls mention Package version and Node.js, npm version

[2021-11-11 12:01] Kledenai commented on #125
ok, i just edited

[2021-11-12 03:18] thetutlage commented on #125
Its because all fields are required by default and you are adding the required rule on top of it. So the required validation happens twice. Just remove the `required` rule.

[code]

[2021-11-12 03:19] thetutlage commented on #125
Closing, since not actionable and please use Discussions forum to ask questions, we use issues for tracking verified bugs or feature requests

[2021-11-12 03:19] #125 closed, assigned to thetutlage

[2021-11-12 11:45] Kledenai commented on #125
thanks, now i understand

[2021-11-17 16:02] sockenklaus commented on #114
Hi I'd like to push this issue. The current behaviour (validating empty strings to undefined) seems pretty off since "" is an intentional value and should be treated a such.

I'd like to try solving this issue but i'm really lacking the skill :(

[2021-11-19 14:35] cawa-93 commented on #76
I have encountered a similar problem but cannot solve it. @thiscosta may you halp me?

The site has a form that is validated on the server. I create a simple test:

[code]

[code]

Request headers:
[code]

In the browser, this works exactly as expected:
- If the data is correct, after registration the user is redirected to the office
- If the data is not correct, a 302 redirect to the registration

[2021-11-22 14:30] sandhilt opened #126 "Partial Validation for update routes"
## Why this feature is required (specific use-cases will be appreciated)?
In CRUD, the create and update methods are very similar, with the only difference that update has all its fields similar.
It would be nice if there was a way to recreate the schema field with all the optional attributes and give an error when empty.

## Have you tried any other work arounds?
The only workaround is to create

[2021-11-23 06:12] thetutlage commented on #126
Can you please share your create and update schemas? I can try to share a solution that reduces duplicity

[2021-12-02 13:37] stropitek opened #128 "Add support for nullable values"
## Why this feature is required (specific use-cases will be appreciated)?
It is often needed to create an api which allows to unset values *explicitely* in a backend.

Since `undefined` is not serializable to JSON, we need to pass `null` to indicate that intent.

Currently, `@adonisjs/validator` does not have strong support for nullable fields. If a required field is `null`, validation fails, and

[2021-12-05 12:28] Alyxsqrd commented on #114
I'm also interested in seeing support for this added. I find it pretty odd how using `schema.string({trim: true})` doesn't return undefined on empty/whitespace only strings. I also noticed that for rules such as `rules.minLength(1)`, it seems like the input length is being checked **before** it's trimmed. 🤔

Hopefully this confusing functionality is fixed by default, or at least, add a validator c

[2021-12-07 07:18] thetutlage commented on #126
Closing since no response from the issue reporter and not actionable as well

[2021-12-07 07:18] #126 closed, assigned to thetutlage

[2021-12-07 08:12] thetutlage commented on #128
Fixed in https://github.com/adonisjs/validator/commit/c9a0e3aa4652014c6079bbd37b05e91b307ba590. Release + docs will be out during this week

[2021-12-07 08:12] #128 closed, assigned to thetutlage

[2021-12-09 17:20] rodrigorz commented on #114
The issue seems to be solved on this [discussion](https://github.com/adonisjs/core/discussions/1978).

I will close this issue if it works.

[2021-12-18 09:25] carlkoblavie commented on #76
one reason this may be happening, @cawa-93, is if your validation is failing.

[2021-12-23 12:24] Uttam-EWW opened #130 "Is there way to use validators without http request?"
So basically what i want to achieve is  to validate other data by using this validator's functionalities. So is there anyway to do it?

[2021-12-23 12:40] thetutlage commented on #130
Its covered in the docs here. https://docs.adonisjs.com/guides/validator/introduction#standalone-validator-usage

[2021-12-23 13:17] Uttam-EWW commented on #130
Thank you so much.

[2021-12-23 13:35] thetutlage commented on #130
Closing. In the future you can use the discussions forum to ask your questions http://github.com/adonisjs/core/discussions

We use the issues tracker for just managing feature requests and bugs

[2021-12-23 13:35] #130 closed, assigned to thetutlage

[2022-01-11 15:47] McSneaky opened #133 "Turning on single email sanitizer turns them all on"
## Package version
12.2.0

## Node.js and npm version

Node: 17.1.0
npm: 8.1.2

## Sample Code (to reproduce the issue)

Request payload
[code]

Validator
[code]

Expected outcome:

[code]

Actual outcome
[code]

I would expect current outcome, when sanitize is set to just `true` (`sanitize: true`) or when all keys are all set to `true`

Currently both
[code]
and

[code]
give exactly the same resu

[2022-01-12 13:27] thetutlage commented on #133
Yeah, makes sense to have them set to `false`. However, it will be a breaking change now, so can only be released in the next major release

[2022-01-14 15:37] #114 closed, assigned to thetutlage

[2022-02-11 15:53] mik7up opened #139 "Need to add validation for ro-MD"
https://github.com/validatorjs/validator.js/issues/1931

Need to add validation for Moldova republic of mobile phone numbers.
https://github.com/validatorjs/validator.js/edit/master/src/lib/isMobilePhone.js

'ro-MD': /^(\+?373|0)((6(0|1|2|6|7|8|9))|(7(7|8|9)))\d{6}$/

https://www.localeplanet.com/icu/ro-MD/index.html

60 xxxxxx — Orange
61 xxxxxx — Orange
62 xxxxxx — Orange
66 xxxxxx — Unité
67 xx

[2022-02-15 10:11] RomainLanz commented on #139
Hey @mik7up! 👋🏻

This is not something we are handling.
In the meanwhile, feel free to create [a custom rule](https://docs.adonisjs.com/guides/validator/custom-rules) to support your case.

[2022-02-15 10:11] #139 closed, assigned to nobody

[2022-02-28 22:02] bnoufel opened #143 "Bug with Validator: rules aren't applied after trim"
## Prerequisites

I found a bug on Validator that occurs when I create a schema validator to add data :
If on entry "name" I put only spaces (like `      `), the rules are not applied after trim, and gives an empty string (`{name: ""}`) rather than an invalid warning.

## Package version
5.5.0

## Node.js and npm version
Node: 17.5.0
npm: 8.4.1

## Sample Code (to reproduce the issue)
schema code:

[2022-03-04 08:16] RomainLanz commented on #143
Hey @bnoufel! 👋🏻

This is something we discussed many times in the core team and I am not sure what the best approach would be.
Do you have any examples of how it is handled in other frameworks?

[2022-03-13 21:54] bnoufel commented on #143
So here's how SF is handling this issue :
[code]

In this case, it'll be correctly be trimed (and it will not accept an empty string as entry).
In order to repeat the same behaviour in Adonis, you'll have to do it this way by adding a `required` rules that will check the trimed string at the end :

[code]

In my opinion, the best approach would be to add a blank option to the previous code instead

[2022-03-30 09:37] LookinGit opened #144 "Incorrect typings of 'mobile' rule"
Hello, core team!

## Prerequisites
A type of rule `mobile` has params 'strict' and 'locales':
https://github.com/adonisjs/validator/blob/0ac7e4b24c320ade5a79d481791a7962165b10fd/adonis-typings/validator.ts#L868

but a validator check a 'locale' parameter:
https://github.com/adonisjs/validator/blob/0ac7e4b24c320ade5a79d481791a7962165b10fd/src/Validations/string/mobile.ts#L29

Error:
[code]

Tempor

[2022-03-31 09:23] DZ8540 opened #145 "Schema options after rules"
## Why this feature is required (specific use-cases will be appreciated)?
Most AdonisJS users happen to even add trim option when create string schema validator, if passing rules to this string validator. It is not comfortable!

example:
![изображение](https://user-images.githubusercontent.com/50152205/161020845-53786bc5-8e57-4ad8-961a-ffbda3c62797.png)

It would be great if the options were after

[2022-04-04 19:47] ruanitto opened #146 "Date - Custom Message"
I need a custom message on validator for data fields to show the date format, but the options passed to the message string is undefined

## Package version
12.2.3

## Node.js and npm version
node: 14
npm: 6

## Sample Code (to reproduce the issue)
[code]
When the error ocurrs, the options is caming undefined:

[code]

[2022-04-05 11:00] thetutlage commented on #146
<img width="733" alt="CleanShot 2022-04-05 at 16 30 35@2x" src="https://user-images.githubusercontent.com/1706381/161739908-070240b5-d2df-4ba8-b8d7-6b522dbb84a2.png">

Seems like a typo in the code example. It should be `options.format`.

[2022-04-05 11:02] thetutlage commented on #145
Going to be a breaking change and cannot be shipped until AdonisJS 6.0

[2022-04-05 14:04] ruanitto commented on #146
I also tried it before. but the same error occurs.
Later I'll take a look at the validator's source code and see if I can find the fix, or where I'm going wrong.
Apparently the options object arrives empty

![Screenshot_26](https://user-images.githubusercontent.com/13773521/161771641-f8db7c2d-578e-4316-a8af-df101b444e71.png)
.

[2022-04-06 03:38] thetutlage commented on #146
Seems like a bug in the code. Fixed in https://github.com/adonisjs/validator/commit/f60dea0f88bcc3bb8955ec8c8443a6068fcde1d1

Will be released soon

[2022-04-06 03:38] #146 closed, assigned to thetutlage

[2022-04-06 06:12] thetutlage commented on #143
I have added two new rules (`escape`, `trim`) to the validator. Now, instead of using them as options, you can use the rules directly.

[code]

Since rules are applied in the order they are defined, you can self control the execution flow.

PS: The rules will be available after next release of validator and core.

Commit: https://github.com/adonisjs/validator/commit/7a0402ec02f5cd6da5424f42aed9f01

[2022-04-06 06:12] #143 closed, assigned to thetutlage

[2022-04-06 06:14] thetutlage commented on #145
This [commit](https://github.com/adonisjs/validator/commit/7a0402ec02f5cd6da5424f42aed9f015b4597391#diff-662b765160dd0104d1e865cea89351b2611b996f1762f6ef3081555275665c80R288) makes the first argument to accept both the `options` or an array of `rules`.

After the next release, you can simplify your code as follows.

[code]

[2022-04-06 06:14] #145 closed, assigned to thetutlage

[2022-04-06 06:16] thetutlage commented on #133
I am going to extract the normalization of the email to its own rule and deprecate the `sanitize` option all together. This is how it will look in practice.

[code]

If you decide not to pass any options, then the defaults from [validator.js](https://www.npmjs.com/package/validator) will be used. In other words, AdonisJS will not turn on/off any options

[2022-04-06 14:18] thetutlage commented on #133
Added here. https://github.com/adonisjs/validator/commit/807e10ef62338afc251a08df0d861493ef53343f

[2022-04-06 14:18] #133 closed, assigned to thetutlage

[2022-04-06 14:31] #144 closed, assigned to thetutlage

[2022-04-07 05:38] bnoufel commented on #143
Thx !
i try this asap 🎉

[2022-05-09 15:03] ryanadhi commented on #133
@thetutlage does this improvement make the rules.email function deprecated? because I receive deprecation warning when I am using rules.email

[2022-05-10 06:13] thetutlage commented on #133
@ryanadhi You can learn more about the deprecation in the release notes. https://docs.adonisjs.com/releases/april-2022-release#email-sanitize

[2022-05-10 06:56] ryanadhi commented on #133
does this also remove dots before the '@' ? some emails has dots before '@'

[2022-05-11 13:07] cawa-93 opened #147 "`minLength` rule doesn't respect `trim` rule"
## Package version
"@adonisjs/core": "5.7.6",

## Node.js and npm version
 node v16.14.0
 npm 8.3.1

## Sample Code (to reproduce the issue)
[code]
Validation is not expected to pass, but it is passing

[2022-05-11 13:12] cawa-93 commented on #147
Here is

https://github.com/adonisjs/validator/blob/2d63698452957fd946c73862b9fbf9b4c633eb51/src/Validations/string-and-array/minLength.ts#L40

For some reason rule check `originalValue` but not actual `value`

[2022-05-17 07:17] #147 closed, assigned to thetutlage

[2022-05-17 07:17] thetutlage commented on #147
Thanks for reporting.

Yup. That was required earlier when `trim` was just an option and not the rule itself. But, we should now rely on the mutated value.

[2022-06-09 12:55] truc3651 opened #149 "I want to extend a base validator (reduce duplicity) - AdonisJS v.5"
### I have a PaginationValidator (used to valdiate api list data)

[code]

### There's some apis has its own schema fields, and I want to expand PaginationValidator schema (page, limit ...) with these extended fields

[code]
### maybe

[code]

### How can I extend the validator?

[2022-06-10 07:02] KageNoNeko commented on #149
That's the neat thing: you don't :)

Just extract part of the schema into a function and use it in validators.

[2022-06-15 04:52] thetutlage commented on #149
There are many ways to do it just using the language constructs. Following is a one simple example.

[code]

[2022-06-15 04:52] #149 closed, assigned to thetutlage

[2022-06-22 16:21] carlosaroca opened #150 "Cannot find module in production mode"
## Package version
5.1.0

## Node.js and npm version
Node: v18.4.0
Npm: 8.12.1

## Sample Code (to reproduce the issue)
In Local mode works normall but when I compile from ts and build the app I get this error trying to use the system; I already install @adonisjs/validator and @adonisjs/fold but not works

UPDATE: Works if I disable validations (Validator)

Error: Cannot find module '/www/b7academ

[2022-06-23 09:59] RomainLanz commented on #150
Hey @carlosaroca! 👋🏻

Looking at the error message, it tries to require the `Validators/SignUpValidator.js` file but cannot find it.
Can you please double-check there is no typo mistake in your file name?

Note that it is case-sensitive.

[2022-08-01 19:10] matiasgarcia opened #151 "Get return type of validator"
I am wondering if this is a feature request or if I plain TS should achieve this.

Let's say I have this validator

[code]

And in a Controller its used like this

[code]

Is it possible to get the return type of JumioCallbackValidator without calling it? For example, to use it in a service definition attribute.

[2022-08-01 21:38] RomainLanz commented on #151
Hey @matiasgarcia! 👋🏻

Yes, you can extract the type from the validator schema.

[code]

Then,  you can import `JumioCallbackData` anywhere in your application.

[2022-08-02 00:45] matiasgarcia commented on #151
@RomainLanz thanks a lot!

[2022-08-02 05:24] #151 closed, assigned to RomainLanz

[2022-08-09 02:18] finestgecko opened #152 "Property 'alphaNum' does not exist on type 'Rules'."
I am trying to use `rules.alphaNum()` ([see docs](https://docs.adonisjs.com/reference/validator/rules/alpha-num)) but I get this error:

[code]

## Package version
AdonisJS 5.8.5

## Node.js and npm version
Node.js v16.15.0
NPM v8.5.5

## Sample Code (to reproduce the issue)
[code]

[2022-08-09 05:28] thetutlage commented on #152
Seems like the docs got published before the actual implementation. I have just made a release, so please update the `@adonisjs/core` to `5.8.6`

[2022-08-09 05:29] #152 closed, assigned to thetutlage

[2022-08-29 13:43] targos opened #153 "Update luxon to v3"
It has a very small breaking change. I don't know if it affects us: https://github.com/moment/luxon/blob/master/CHANGELOG.md#300-2022-07-09

[2022-09-02 16:26] Barbapapazes opened #154 "Options for Email is set but not used"
Hello,

We are speaking about the [`email` rules](https://docs.adonisjs.com/reference/validator/rules/email).

You say that we can use any options available in validator.js but in the code, options returned are filtered.

[code]

So it's impossible to use an option list `host_blacklist` !

And here is the type

[code]

[2022-09-07 06:14] #153 closed, assigned to targos

[2022-09-09 06:36] RomainLanz commented on #150
Closing since no answer from issue reporter.

[2022-09-09 06:36] #150 closed, assigned to nobody

[2022-09-09 17:41] #154 closed, assigned to thetutlage

[2022-09-23 17:03] tianjos opened #156 "rule exists does not check against each array member"
## Prerequisites

We do our best to reply to all the issues on time. If you will follow the given guidelines, the turn around time will be faster.

- Lots of raised issues are directly not bugs but instead are design decisions taken by us.
- Make use of our [GH discussions](https://github.com/adonisjs/core/discussions), or [discord server](https://discord.me/adonisjs), if you are not sure that you

[2022-09-25 16:41] JonhnyDev opened #158 "Error 500 on validation"
## Prerequisites

We do our best to reply to all the issues on time. If you will follow the given guidelines, the turn around time will be faster.

- Lots of raised issues are directly not bugs but instead are design decisions taken by us.
- Make use of our [GH discussions](https://github.com/adonisjs/core/discussions), or [discord server](https://discord.me/adonisjs), if you are not sure that you

[2022-09-30 04:55] thetutlage commented on #158
The code samples in the issue are not formatted and also you have not shared the validator code.

I have to close the issue for now, please provide enough information and format your codeblocks properly for us to provide any help

[2022-09-30 04:55] #158 closed, assigned to thetutlage

[2022-09-30 22:41] JonhnyDev commented on #158
I opened a new one #159

[2022-10-02 18:22] JonhnyDev opened #159 "Error 500 on validation 2"
## Prerequisites

We do our best to reply to all the issues on time. If you will follow the given guidelines, the turn around time will be faster.

- Lots of raised issues are directly not bugs but instead are design decisions taken by us.
- Make use of our [GH discussions](https://github.com/adonisjs/core/discussions), or [discord server](https://discord.me/adonisjs), if you are not sure that you

[2022-10-08 04:57] thetutlage commented on #159
The route you have shared is for path `/posts`, but you are making an HTTP request to `/sendmessage`. To avoid further back and forth, I recommend reproducing this issue in a fresh project and share the repo.

[2022-10-29 08:45] RomainLanz commented on #159
Closing since no answer from the issue reporter.

[2022-10-29 08:45] #159 closed, assigned to thetutlage